<div class="off-canvas-wrapper move-right" data-off-canvas-wrapper>
    <!-- Off Canvas Menu -->
    <aside class="left-off-canvas-menu">
        <div class="icon-bar vertical five-up">
            <nav data-magellan data-animation-easing="">
                <a class="item" href="#videos">
                    <div class="vert-menu-item">
                        <i class="fa fa-video-camera" aria-hidden="true"></i>
                        <label>Videos</label>
                    </div>
                </a>
                <a class="item" href="#infographics" target="_blank">
                    <div class="vert-menu-item">
                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                        <label>Info Graphics</label>
                    </div>
                </a>
            </nav>
        </div>
    </aside>
</div>