<div class="off-canvas-wrap move-right show-for-medium" data-offcanvas>
  <div class="inner-wrap">
    <a class="left-off-canvas-toggle" href="#"><i class="fi-list"></i></a>
    <!-- Off Canvas Menu -->
    <aside class="left-off-canvas-menu">
      <div data-magellan class="icon-bar vertical five-up">
        <a class="item" href="#streaming">
          <div class="vert-menu-item">
            <label>Streaming Guide</label>
          </div>
        </a>
      </div>
    </aside>
    <!-- close the off-canvas menu -->
    <a class="exit-off-canvas"></a>
  </div>
</div>