<!--<div class="move-right">-->
<!-- Off Canvas Menu -->
<!--<aside class="left-off-canvas-menu">
        <div class="icon-bar vertical five-up">
            <nav data-magellan data-animation-easing="">
                <a class="item" href="#videos">
                    <div class="vert-menu-item">
                        <i class="fa fa-play-circle-o" aria-hidden="true"></i>
                        <label>Videos</label>
                    </div>
                </a>
                <a class="item" href="#infographics" target="_blank">
                    <div class="vert-menu-item">
                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                        <label>Infographics</label>
                    </div>
                </a>
            </nav>
        </div>
    </aside>
</div>-->

<link href='http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css' rel='stylesheet' type='text/css'>

<div class="off-canvas-wrap move-right" data-offcanvas>
    <div class="inner-wrap">

        <a class="left-off-canvas-toggle" href="#"><i class="fi-list"></i></a>

        <!-- Off Canvas Menu -->
        <aside class="left-off-canvas-menu">

            <div data-magellan class="icon-bar vertical five-up">

                <a class="item" href="#videos">
                    <div class="vert-menu-item">
                        <i class="fa fa-play-circle-o" aria-hidden="true"></i>
                        <label>Videos</label>
                    </div>
                </a>
                <a class="item" href="#infographics" target="_blank">
                    <div class="vert-menu-item">
                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                        <label>Infographics</label>
                    </div>
                </a>
            </div>

        </aside>

        <!-- close the off-canvas menu -->
        <a class="exit-off-canvas"></a>

    </div>
</div>