<div>
    <div class="title-bar" data-options="marginTop:0;" style="width:100%; position: fixed;">
        <div class="title-bar-left horizontal-menu">
            <ul class="menu dropdown" data-dropdown-menu>
                <li style="width: 250px;">
                    <a href="//www.inxpo.com" style="padding-top: .5rem;" target="_blank">
                        <img style="float: left;" src="https://www.inxpo.com/assets/images/inxpo-logo-notagline.png" alt="" />
                    </a>
                </li>
                <li><a href="./index.html">XPOCAST<sup>&reg;</sup> Guide</a></li>
                <li class="active"><a href="./specs.html">Video Specifications</a></li>
                <li><a href="./gallery.html">Gallery</a></li>
            </ul>
        </div>
    </div>
</div>