<div class="off-canvas-wrapper move-right show-for-medium" data-options="force-top: false">
  <!-- Off Canvas Menu -->
  <aside class="left-off-canvas-menu">
    <div class="icon-bar vertical five-up">
      <nav data-magellan data-animation-easing="">
        <a class="item" href="#overview">
          <div class="vert-menu-item">
            <!--<i class="fa fa-bars" aria-hidden="true"></i>-->
            <label>Overview</label>
          </div>
        </a>
        <a class="item" href="#audiobest">
          <div class="vert-menu-item best-practice-container">
            <!--<i class="fa fa-check-circle-o" aria-hidden="true"></i>-->
            <label>Best Practices</label>
            <i data-toggle="dropdown" class="fa fa-angle-down best-practice" aria-hidden="true"></i>
          </div>
        </a>
        <div class="hide" data-toggle="dropdown-tabs-content">
          <ul class="tabs" data-deep-link="true" data-tabs id="deeplinked-tabs">
            <li class="tabs-title is-active"><a href="#panel1d" aria-selected="true">Live-Day Tips</a></li>
            <li class="tabs-title"><a href="#panel2d">Interactivity</a></li>
            <li class="tabs-title"><a href="#panel3d">Telephone</a></li>
            <li class="tabs-title"><a href="#panel4d">Webcam</a></li>
            <li class="tabs-title"><a href="#panel5d">Location</a></li>
            <li class="tabs-title"><a href="#panel6d">Post Webcast</a></li>
          </ul>
        </div>
        <a class="item" href="#technicalrequirements">
          <div class="vert-menu-item">
            <!--<i class="fa fa-cog" aria-hidden="true"></i>-->
            <label>Technical Requirements</label>
          </div>
        </a>
        <a class="item" href="#engagingpresenter">
          <div class="vert-menu-item">
            <!--<i class="fa fa-user-circle-o" aria-hidden="true"></i>-->
            <label>Engaging Presenter</label>
          </div>
        </a>
        <a class="item" href="#engagingcontent">
          <div class="vert-menu-item">
            <!--<i class="fa fa-comments-o" aria-hidden="true"></i>-->
            <label>Engaging Content</label>
          </div>
        </a>
      </nav>
    </div>
  </aside>
</div>