<div class="off-canvas-wrapper move-right">
  <!-- Off Canvas Menu -->
  <aside class="left-off-canvas-menu">
    <div class="icon-bar vertical five-up">
      <nav data-magellan data-animation-easing="">
        <a class="item" href="#overview">
          <div class="vert-menu-item">
            <!--<i class="fa fa-compass" aria-hidden="true"></i>-->
            <label>Overview</label>
          </div>
        </a>
        <a class="item" href="#commonlyused">
          <div class="vert-menu-item">
            <!--<i class="fa fa-creative-commons" aria-hidden="true"></i>-->
            <label>Commonly Used</label>
          </div>
        </a>
        <a class="item" href="#socialwidgets">
          <div class="vert-menu-item">
            <!--<i class="fa fa-share-alt" aria-hidden="true"></i>-->
            <label>Social Widgets</label>
          </div>
        </a>
        <a class="item" href="#marketingbranding">
          <div class="vert-menu-item">
            <!--<i class="fa fa-bullhorn" aria-hidden="true"></i>-->
            <label>Marketing &amp; Branding</label>
          </div>
        </a>
        <a class="item" href="#webcastdetail">
          <div class="vert-menu-item">
            <!--<i class="fa fa-video-camera" aria-hidden="true"></i>-->
            <label>Webcast Detail</label>
          </div>
        </a>
        <a class="item" href="#testingcertification">
          <div class="vert-menu-item">
            <!--<i class="fa fa-check-square-o" aria-hidden="true"></i>-->
            <label>Testing/Certification</label>
          </div>
        </a>
        <a class="item" href="#inevent">
          <div class="vert-menu-item">
            <!--<i class="fa fa-play" aria-hidden="true"></i>-->
            <label>In-Event</label>
          </div>
        </a>
      </nav>
    </div>
  </aside>
</div>