<div class="title-bar" data-responsive-toggle="menu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle></button>
  <div class="title-bar-title">Menu</div>
</div>
<div class="top-bar title-bar" id="menu">
  <div class="top-bar-left">
    <ul class="dropdown vertical medium-horizontal menu" data-dropdown-menu>
      <li style="width: 250px;">
        <a href="//www.inxpo.com" style="padding-top: .5rem;" target="_blank">
          <img class="nav-logo" src="https://www.inxpo.com/assets/images/inxpo-logo-notagline.png" alt="" />
        </a>
      </li>
      <li><a href="./index.html">XPOCAST<sup>&reg;</sup> Guide</a></li>
      <li><a href="./specs.html">Video Specifications</a></li>
      <li><a href="./streaming.html">Streaming Guide</a></li>
      <li><a href="./panels.html">Panels</a></li>
      <li class="active"><a href="./gallery.html">Resources</a></li>
    </ul>
  </div>
</div>