<div data-sticky-container>
    <div class="title-bar" data-sticky data-options="marginTop:0;" style="width:100%">
        <div class="title-bar-left horizontal-menu">
            <ul class="menu dropdown" data-dropdown-menu>
                <li style="width: 250px;">
                    <a href="#" style="padding-top: .5rem;">
                        <img style="float: left;" src="https://www.inxpo.com/assets/images/inxpo-logo-notagline.png" alt="" />
                    </a>
                </li>
                <li><a href="./index.html" class="active">XPOCAST<sup>&reg;</sup> Guide</a></li>
                <li><a href="./specs.html">Video Specifications</a></li>
                <li><a href="./videos.html">Gallery</a></li>
                <!--<li><a href="./widget.html">Widget Guide</a></li>-->
            </ul>
        </div>
    </div>
</div>