<div class="callout secondary" id="videos" data-magellan-target="videos">
    <div class="row">
        <div class="large-12 columns">
            <h3 class="title">Butcher sustainable bushwick drinking vinegar</h3>
            <p>Waistcoat celiac brooklyn iceland. Chicharrones marfa quinoa, salvia brooklyn cardigan cornhole man braid celiac mlkshk schlitz. Bespoke forage typewriter tote bag disrupt kombucha tbh schlitz, trust fund af keytar lumbersexual snackwave.</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="small reveal" id="video1" data-reveal>
        <iframe width="100%" height="600" src="https://www.youtube.com/embed/2xPO1qzom04" frameborder="0" allowfullscreen></iframe>
        <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="small reveal" id="video2" data-reveal>
        <iframe width="100%" height="600" src="https://www.youtube.com/embed/dlGH9caK94I" frameborder="0" allowfullscreen></iframe>
        <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>
<section>
    <div class="row small-up-2 medium-up-4">
        <div class="column">
            <a data-open="video1">
                <div class="card">
                    <img src="assets/img/thumbnails/what-is-webcasting.jpg">
                    <div class="card-section">
                        <h5>What is Webcasting? | Webcasting, and Webinars</h5>
                        <p>Webcasting by INXPO provides companies a simple and cost-effective webcasting solution that delivers powerful audio and visual presentations to global audiences. With live, simulive, and on-demand broadcasting options, you have
                            the power to control when and how your content is delivered.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="column">
            <a data-open="video2">
                <div class="card">
                    <img src="assets/img/thumbnails/minimizing-distractions.jpg">
                    <div class="card-section">
                        <h5>Webcasting- Minimizing Distractions and Perfecting Sound Quality</h5>
                        <p>When delivering a webcast, your location plays a key role in how your audience will perceive your message. If possible, deliver presentations from a studio or green room, to provide the highest-quality look and sound for your webcast.
                            For many presenters, these resources are not available, so webcasts often are broadcast from an office or conference room. There are several key considerations in choosing a good location for webcasts, including: noise, proximity
                            to other offices, lighting options, network connection and more.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="column">
            <div class="card">
                <img src="https://www.fillmurray.com/400/300">
                <div class="card-section">
                    <h5>Video 3</h5>
                    <p>Freegan YOLO knausgaard crucifix authentic. Gentrify glossier biodiesel, synth artisan mustache edison bulb occupy. Chillwave offal tacos, whatever poutine kogi vexillologist.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="callout secondary" id="infographics" data-magellan-target="infographics">
    <div class="row">
        <div class="large-12 columns">
            <h3 class="title">Butcher sustainable bushwick drinking vinegar</h3>
            <p>Waistcoat celiac brooklyn iceland. Chicharrones marfa quinoa, salvia brooklyn cardigan cornhole man braid celiac mlkshk schlitz. Bespoke forage typewriter tote bag disrupt kombucha tbh schlitz, trust fund af keytar lumbersexual snackwave.</p>
        </div>
    </div>
</div>
<section>
    <div class="row small-up-2 medium-up-3">
        <div class="column">
            <a data-open="video1">
                <div class="card">
                    <img src="https://www.fillmurray.com/400/300">
                    <div class="card-section">
                        <h5>Info 1</h5>
                        <p>Meh cold-pressed jean shorts DIY, slow-carb messenger bag tilde lyft tattooed poutine truffaut kombucha. Listicle DIY XOXO, umami tumeric heirloom iceland sriracha dreamcatcher glossier whatever.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="column">
            <a data-open="video2">
                <div class="card">
                    <img src="https://www.fillmurray.com/400/300">
                    <div class="card-section">
                        <h5>Info 2</h5>
                        <p>Put a bird on it next level banjo slow-carb mumblecore, keytar art party bicycle rights umami. Tilde snackwave twee, readymade gastropub pabst succulents lomo art party air plant messenger bag portland hammock quinoa direct trade.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="column">
            <div class="card">
                <img src="https://www.fillmurray.com/400/300">
                <div class="card-section">
                    <h5>Info 3</h5>
                    <p>Freegan YOLO knausgaard crucifix authentic. Gentrify glossier biodiesel, synth artisan mustache edison bulb occupy. Chillwave offal tacos, whatever poutine kogi vexillologist.</p>
                </div>
            </div>
        </div>
    </div>
</section>