<div class="callout secondary" id="videos" data-magellan-target="videos">
    <div class="row">
        <div class="large-12 columns">
            <h3 class="title">Videos</h3>
        </div>
    </div>
</div>
<div class="row">
    <div class="small reveal" id="video1" data-reveal>
        <iframe width="100%" height="600" src="https://www.youtube.com/embed/2xPO1qzom04" frameborder="0" allowfullscreen></iframe>
        <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="small reveal" id="video2" data-reveal>
        <iframe width="100%" height="600" src="https://www.youtube.com/embed/dlGH9caK94I" frameborder="0" allowfullscreen></iframe>
        <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="small reveal" id="video3" data-reveal>
        <iframe width="100%" height="600" src="https://www.youtube.com/embed/pRtzBA8cfos" frameborder="0" allowfullscreen></iframe>
        <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="small reveal" id="video4" data-reveal>
        <iframe width="100%" height="600" src="https://www.youtube.com/embed/Jc2LT38e64o" frameborder="0" allowfullscreen></iframe>
        <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="small reveal" id="video5" data-reveal>
        <iframe width="100%" height="600" src="https://www.youtube.com/embed/JcG40Zf3Hyc" frameborder="0" allowfullscreen></iframe>
        <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="small reveal" id="video6" data-reveal>
        <iframe width="100%" height="600" src="https://www.youtube.com/embed/ujVX09pPoTs" frameborder="0" allowfullscreen></iframe>
        <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>
<section>
    <div class="row small-up-2 medium-up-4 gallery-card-container" data-equalizer>
        <div class="column" data-equalizer-watch>
            <div class="card">
                <img src="assets/img/thumbnails/what-is-webcasting.jpg">
                <div class="card-section">
                    <h5>Webcasting</h5>
                    <p>The industry's most flexible and affordable solution.</p>
                    <div class="play-video">
                        <a data-open="video1">Play Video<i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="column" data-equalizer-watch>
            <div class="card">
                <img src="assets/img/thumbnails/minimizing-distractions.jpg">
                <div class="card-section">
                    <h5>Webcasting Tips</h5>
                    <p>Welcome to the XPOCAST Overview. New to XPOCAST? Well, this is a great place to start. Learn about some of the benefits and solutions that XPOCAST has to offer for all of your webcasting needs!</p>
                    <div class="play-video">
                        <a data-open="video2">Play Video<i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="column" data-equalizer-watch>
            <div class="card">
                <img src="https://www.fillmurray.com/500/250">
                <div class="card-section">
                    <h5>What is Simulive and Why is it Great?</h5>
                    <p>XPO Video Strategist Sean Keen explains the benefits and differences of simulated live webcasts.</p>
                    <div class="play-video">
                        <a data-open="video3">Play Video<i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="column" data-equalizer-watch>
            <div class="card">
                <img src="https://www.fillmurray.com/500/250">
                <div class="card-section">
                    <h5>Webcam Review with Emma</h5>
                    <p>Our Executive Producer, Emma Meyer talks you through her favorite webcams. From the built in MacBook Pro webcam to the "Cadillac" of all webcams, the Logitech HD pro webcam c920.</p>
                    <div class="play-video">
                        <a data-open="video4">Play Video<i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="row small-up-2 medium-up-4 gallery-card-container" data-equalizer>
        <div class="column" data-equalizer-watch>
            <div class="card">
                <img src="https://www.fillmurray.com/500/250">
                <div class="card-section">
                    <h5>Video Broadcasts and The Dollhouse Effect</h5>
                    <p>To learn more about video composition and best practices for video please visit <a href="http://www.inxpo.com">http://www.inxpo.com</a></p>
                    <div class="play-video">
                        <a data-open="video5">Play Video<i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="column" data-equalizer-watch>
            <div class="card">
                <img src="https://www.fillmurray.com/500/250">
                <div class="card-section">
                    <h5>Measuring the Success of Video Streaming Programs</h5>
                    <p>To learn more about video composition and best practices for video please visit <a href="http://www.inxpo.com">http://www.inxpo.com</a></p>
                    <div class="play-video">
                        <a data-open="video6">Play Video<i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="callout secondary" id="infographics" data-magellan-target="infographics">
    <div class="row">
        <div class="large-12 columns">
            <h3 class="title">Infographics</h3>
        </div>
    </div>
</div>
<section>
    <div class="row small-up-2 medium-up-4 gallery-card-container" data-equalizer>
        <div class="column">
            <div class="card" data-equalizer-watch>
                <img src="assets/img/thumbnails/infographic-Audience-Acquisition.jpg">
                <div class="card-section">
                    <h5>Audience Acquisition</h5>
                    <p>Get your audience to TUNE IN to your corporate programs.</p>
                    <div class="play-video">
                        <a data-open="">Play Video<i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card" data-equalizer-watch>
                <img src="assets/img/thumbnails/infographic-Evolution-Of-Live-Online-Video.jpg">
                <div class="card-section">
                    <h5>Live Online Video</h5>
                    <p>The Evolution of Live Online Video.</p>
                    <div class="play-video">
                        <a data-open="">Play Video<i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="column" data-equalizer-watch>
            <div class="card">
                <img src="assets/img/thumbnails/infographic-VideoMakeorBreak.jpg">
                <div class="card-section">
                    <h5>Video Works</h5>
                    <p>Impacts company value, culture, productivity.</p>
                    <div class="play-video">
                        <a data-open="">Play Video<i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>