<div class="callout secondary" id="panels" data-magellan-target="panels">
  <div class="row">
    <div class="large-12 columns">
      <h3 class="title">Panels</h3>
      <p>XPOCAST widgets are customizable, interactive webcast console options. Hosts can choose which widgets will most enhance each broadcast and enable them easily through INXPO's full service team or self-service, in XPOCAST Prime. Use this guide to
        determine which widgets will be most beneficial during any upcoming broadcast.</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <section class="panels">
      <article>
        <h4>Most Commonly Used Widgets:</h4>
        <ul>
          <li>
            <p><b>Media Player:</b> (Required) Audio and video player for the session. Allows audience members to adjust volume and, for on demand, fast forward, pause and rewind.</p>
          </li>
          <li>
            <p><b>Slides:</b> Powerpoint slides, polling questions, desktop sharing, video clips, tests and more can be displayed within a slides widget.</p>
          </li>
          <li>
            <p><b>Chapter:</b> For live/simulive webcasts this serves as a real-time agenda attendees can follow along with. Once on demand, users can skip directly to the chapter they wish to view.</p>
          </li>
          <li>
            <p><b>Group Chat:</b> Allows attendees to have open, text-based, chat throughout the webcast.</p>
          </li>
          <li>
            <p><b>Q&A:</b> Attendees can submit questions, which are only visible to session moderators. Moderators can supply text based responses to the entire audience or only to the person asking the question.</p>
          </li>
          <li>
            <p><b>Handouts:</b> Hosts can post documents or links for attendees to download during the broadcast.</p>
          </li>
          <li>
            <p><b>Restore:</b> If attendees open, close or move panels on their console, the "Restore" widget will allow them to snap all widgets back to their original design (as laid out by the webcast host).</p>
          </li>
        </ul>
      </article>
      <article>
        <h4>Social Widgets</h4>
        <ul>
          <li>
            <p><b>Facebook:</b> Allow attendees to share the webcast registration page with their network on Facebook and/or allow attendees to "link" a sponsor's page directly from the webcast.</p>
          </li>
          <li>
            <p><b>Twitter:</b> Allow attendees to share the webcast registration page with their network on Twitter and/or allow attendees to tweet to a specific account and/or hastag during the webcast.</p>
          </li>
          <li>
            <p><b>LinkedIn:</b> Allow attendees to share the webcast registration page with their network on LinkedIn.</p>
          </li>
          <li>
            <p><b>Yammer:</b> Allow attendees to access specific Yammer group during the webcast.</p>
          </li>
          <li>
            <p><b>Invite a Friend:</b> Allow attendees to send, via email, a personalized note and the registration page of the webcast to a single or group of friends/colleagues to encourage additional registration/attendance.</p>
          </li>
          <li>
            <p><b>Email the speaker:</b> Predefined an email address or set of an email address to allow attendees to email the speakers(s) of the session directly with questions, comments or follow up items.</p>
          </li>
          <li>
            <p><b>Message Board:</b> Allow attendees and speakers to leave comments about the webcast (such as leaving feedback, questions or other discussion topics). Attendees can comment on as well as posts from other users.</p>
          </li>
          <li>
            <p><b>Blog Posts:</b> Allow attendees to create long form blog posts with, optional, attachments for other attendees view, download and comment on.</p>
          </li>
        </ul>
      </article>
      <article>
        <h4>Marketing and Branding Widgets</h4>
        <ul>
          <li>
            <p><b>Images:</b> Add branding images or background files to the session. Images can be linked to third party websites as well.</p>
          </li>
          <li>
            <p><b>Links:</b> Text links can be placed on the console and linked to any third party website.</p>
          </li>
          <li>
            <p><b>Websites:</b> *use gray globe version as outline, deliver as blue* Display a fully interactive website (URL) inside a widget. Attendees can interact with the page without leaving the webcast.</p>
          </li>
          <li>
            <p><b>Text/HTML:</b> Open form widget that allows for plain text to be added to the console or for custom HTML to be entered. Can be used to embed many third party, web-based, applications.</p>
          </li>
          <li>
            <p><b>Survey:</b> Surveys can be displayed as a widget on the console to collect feedback from the audience.</p>
          </li>
        </ul>
      </article>
      <article>
        <h4>Webcast Detail Widget</h4>
        <ul>
          <li>
            <p><b>Abstract:</b> Display a short description of the webcast.</p>
          </li>
          <li>
            <p><b>Speaker Bio(s):</b> Display the name, photo and biography of the webcast's speakers(s).</p>
          </li>
        </ul>
      </article>
      <article>
        <h4>Testing/Certification Widgets</h4>
        <ul>
          <li>
            <p><b>Test:</b> Allow attendees to take a graded test about the webcast topics being presented. Branded certificates can be provided.</p>
          </li>
          <li>
            <p><b>Speaker Bio(s):</b> Display the name, photo and biography of the webcast's speakers(s).</p>
          </li>
        </ul>
      </article>
      <article>
        <h4>In-Event Widgets</h4>
        <ul>
          <li>
            <div class="callout small warning">
              <p>These widgets are only available to webcasts being run inside INXPO virtual event; they are not available for stand-alone webcasting.</p>
            </div>
          </li>
          <li>
            <p><b>Activity Wall:</b> Displays a feed of activity happening within the virtual event.</p>
          </li>
          <li>
            <p><b>Connection Wall:</b> Allows the attendee to see the activites their personal connections are talking within the virtual event.</p>
          </li>
          <li>
            <p><b>Marquee Messages:</b> Allows the host to display the events marquee messages within the webcast.</p>
          </li>
          <li>
            <p><b>My Announcements:</b> Display a list of all virtual event announcements that have been sent to the attendees.</p>
          </li>
          <li>
            <p><b>Who's Here:</b> Allows attendees to see a list of all online and/or offline attendees for the virtual event. They can start communications (chat, email) or exchange their virtual business cards.</p>
          </li>
          <li>
            <p><b>Resource Center:</b> Display a list of the virtual events documents and links available for download.</p>
          </li>
          <li>
            <p><b>Sponsor Space:</b> Allows a sponsor space (space) to be displayed within the webcast. The space is fully interactive including viewing tab information and interacting with space staff.</p>
          </li>
        </ul>
      </article>
    </section>
  </div>
</div>