@charset 'utf-8';
@import 'settings';
@import 'foundation';
@import 'motion-ui';
@include foundation-global-styles;
@include foundation-grid;
// @include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-meter-element;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
// @include foundation-flex-classes;
@include motion-ui-transitions;
@include motion-ui-animations;

/************************

http://zurb.com/building-blocks/off-canvas-sidebar-component

*************************/

$desktop-cont-margin: 250px;
//Right Container
.right-container {
    margin-left: $desktop-cont-margin;
}

//Fixed sidebar
$sidebar-width: $desktop-cont-margin;
$menu-icon-size: 2rem;
$box-shadow: 3px 0 6px rgba(0, 0, 0, 0.24);
.left-off-canvas-menu {
    -ms-transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    position: fixed;
    width: 0;
    height: 100%;
    box-shadow: $box-shadow;
    z-index: 100;
    .icon-bar {
        text-align: center;
        a {
            margin: 2rem auto;
        }
    }
}

.title-bar {
    z-index: 100;
    padding: 0;
}

ul.menu {
    li {
        padding-top: .45rem;
        padding-bottom: .2rem;
        border-bottom: 4px solid transparent;
        &.active {
            border-bottom: 4px solid map-get($foundation-palette, primary);
        }
    }
    li:hover {
        background: rgba($white, 0.25);
        transition: background .2s ease-in;
    }
}

.move-right .left-off-canvas-menu {
    width: $sidebar-width;
    background: $dark-gray;
}

.move-right .exit-off-canvas {
    display: none;
}

.left-off-canvas-toggle {
    display: none;
    margin-top: 1rem;
    margin-left: 1rem;
    font-size: 3rem;
    color: $light-gray;
    transition: all .25s ease-in-out;
    &:focus {
        color: $light-gray;
    }
    &:hover {
        color: lighten($light-gray, 35%);
        transition: all .25s ease-in-out;
    }
}

.active .vert-menu-item {
    border-left: 4px solid $light-gray;
    transition: border-left .6s ease-in-out;
}

.vert-menu-item {
    padding: 1rem;
    background: $dark-gray;
    border-bottom: 1px solid $medium-gray;
    border-left: 4px solid transparent;
    &:hover {
        background: lighten($dark-gray, 35%);
        /* Safari */
        -webkit-transition: background .2s ease-in;
        transition: background .3s ease-in;
    }
}

.sticky.is-stuck {
    z-index: 300;
}

section {
    margin: 3.25rem 0;
    article {
        margin-bottom: 2.7rem;
        &:last-child {
            margin-bottom: 0;
        }
    }
}


/************************

Font Awesome SCSS

************************/

.fa {
    font-size: $menu-icon-size;
    text-align: center;
    color: $white;
    margin: .35rem 0;
}


/************************

Typography

************************/

.callout {
    margin: 0;
    h3.title {
        margin-top: 0;
        margin-bottom: .55rem;
    }
    p {
        margin-bottom: 0;
    }
}

.row {
    max-width: 1250px;
    margin: 0 auto;
}

ol {
    margin-left: 2.25rem;
}

h4 {
    color: map-get($foundation-palette, primary);
    margin-top: 0;
    margin-bottom: 0.8rem;
}

a {
    &:hover,
    &:active,
    &:focus,
    &:visited {
        color: $light-gray;
    }
}