<div class="row collapse">
    <div class="medium-3 columns">
        <ul class="tabs vertical" id="attireTabs" data-tabs>
            <li class="tabs-title is-active"><a href="#panel1Attire" aria-selected="true">Introduction</a></li>
            <li class="tabs-title"><a href="#panel2Attire">What To Wear</a></li>
            <li class="tabs-title"><a href="#panel3Attire">What Not to Wear</a></li>
        </ul>
    </div>
    <div class="medium-9 columns">
        <div class="tabs-content vertical" data-tabs-content="attireTabs">
            <div class="tabs-panel is-active" id="panel1Attire">
                <p><b>When you decide to speak on camera during a webcast, what you wear matters as much as the content you are presenting</b>. Not only will your audience see you, but the camera also reacts differently to certain colors and patterns. Looking
                    your best can help you capture more of your audience’s attention. <b>To follow some best practices on camera</b>:
                </p>

            </div>
            <div class="tabs-panel" id="panel2Attire">
                <h4 class="list-head">Blues/Cooler Tones</h4>
                <p>Blue and other cool color tones enhance presenter on camera</p>
                <h4 class="list-head">Tie Long Hair Back</h4>
                <p>Can interfere with microphone and distract audience</p>
                <h4 class="list-head">Contact Lenses</h4>
                <p>If possible, avoid glasses, which can cause glare; otherwise adjust lighting</p>
                <h4 class="list-head">Make-Up</h4>
                <p>Foundation helps men and women avoid looking too shiny or washed out</p>
            </div>
            <div class="tabs-panel" id="panel3Attire">
                <h4 class="list-head">Small Patterns (e.g. polka dots)</h4>
                <p>Patterns can create interference with the camera, known as a Moire effect</p>
                <h4 class="list-head">Tight Pinstripes</h4>
                <p>Camera interference</p>
                <h4 class="list-head">Busy Colored Patterns</h4>
                <p>Large patterns can distract viewers</p>
                <h4 class="list-head">High Contrast (White, Black, Mixed)</h4>
                <p>Camera interference</p>
                <h4 class="list-head">Scarves</h4>
                <p>Microphone interference</p>
                <h4 class="list-head">Dangling Earrings and Shiny Jewelry</h4>
                <p>Can reflect lighting and cause glare</p>
            </div>
        </div>
    </div>
</div>