<ul class="tabs" data-deep-link="true" data-tabs id="deeplinked-tabs">
    <li class="tabs-title is-active"><a href="#panel1d" aria-selected="true">Interactivity</a></li>
    <li class="tabs-title"><a href="#panel2d">Telephone</a></li>
    <li class="tabs-title"><a href="#panel3d">Webcam</a></li>
    <li class="tabs-title"><a href="#panel4d">USB Microphone</a></li>
</ul>

<div class="tabs-content" data-tabs-content="deeplinked-tabs">
    <div class="tabs-panel is-active" id="panel1d">
        {{> interactive}}
    </div>
    <div class="tabs-panel" id="panel2d">
        {{> telephone}}
    </div>
    <div class="tabs-panel" id="panel3d">
        <p>When you begin to plan for your webcast presentation it is important to keep in mind the technical requirements, location and types of content necessary to create an engaging webcast. Following these best practices for delivering a webcast will
            help you create a high quality audio and video webcast with a webcam that will be sure to keep your audiences’ attention.</p>
        {{> webcam}}
    </div>
    <div class="tabs-panel" id="panel4d">
        <div class="callout small alert">
            <p><b>Internal Note</b>: A lot of this content is covered in other areas. I propose this be consolidated and/or removed</p>
        </div>
        <p>USB microphones provide good quality audio for recording purposes. If using this device, our recommendation is to use a wired external USB microphone and not a Bluetooth Wireless microphone.</p>
        <p>When facilitating presentations with multiple speakers on USB microphones, more logistics and preparation around conversation and program flow are required for the recording or live day. This option also requires ALL speakers use a USB microphone.
        </p>
        <p>In addition, computer microphones are completely reliant upon the speaker’s internet connection, the quality of the inbuilt microphone and the number of other applications running on the individual speaker’s computer which pulls resources. One
            of the challenges with computer microphones is that they clip the high and low end of the voice signal which can result in broken words and hissing and click sounds appearing in the recording.</p>

        <p>It is critical that the audience is able to hear speakers clearly and loudly throughout the presentation. This is best done by setting up and testing the microphone in advance of the live session, from the location the speaker will be using for
            the live event.</p>

        <p><b>Use an External Microphone</b>: The microphones built in to computers/cameras often do not have the audio quality desired for a professional presentation. An external microphone will be better quality and allow speakers to place it in an optimal
            location for best sound.</p>

        <p><b>Configure the Audio Levels</b>: Use the XPOCAST tools as well as individual computer tools to configure the audio volume. Make sure that the volume is loud enough to be heard but doesn’t have any background noise, static, etc.</p>

        <p><b>Limit Interference</b>: Things like cell phones, computer fans, a room fan or other things may create interference on the microphone. As a best practice turn off (not just silence) cell phones, mute computer speakers, turn off room fans and
            make sure that the computer fan isn’t so loud to create noise.</p>

        <p><b>Good Placement</b>: The microphone should be close to the speaker’s mouth but not so close that “p’s” pop or certain words go “too hot” and blast the audience. Speakers should also set microphones out of the camera view.</p>

        <p>Don’t Touch the Microphone While Live: Get the placement setup before live and then leave it alone. Adjusting/moving the microphone while live is VERY loud and will be disruptive to both the audience and the on demand recording.</p>
    </div>
</div>

<article>

</article>
<article>

</article>
<article>

</article>