<div class="row collapse">
    <div class="medium-3 columns">
        <ul class="tabs vertical" id="interTabs" data-tabs>
            <li class="tabs-title is-active"><a href="#panel1Inter" aria-selected="true">Introduction</a></li>
            <li class="tabs-title"><a href="#panel2Inter">The Opening Act</a></li>
            <li class="tabs-title"><a href="#panel3Inter">Interactive Tools</a></li>
            <li class="tabs-title"><a href="#panel4Inter">Sample Presentation Flow</a></li>
            <li class="tabs-title"><a href="#panel5Inter">Conclusion</a></li>
        </ul>
    </div>
    <div class="medium-9 columns">
        <div class="tabs-content vertical" data-tabs-content="interTabs">
            <div class="tabs-panel is-active" id="panel1Inter">
                <p>This guide is an introduction to some of the best practices and tools available within a webcast that you can use to enhance the attendee experience as well as some tips and advice to <b>keep your attendees touching their keyboard every 2
                    minutes.</b></p>
            </div>
            <div class="tabs-panel" id="panel2Inter">
                <p>When you do begin the main event, <b>remember to lead with something attention grabbing</b>. Remember, audience members are typically at work or at home during webcasts and have a lot of demands on their time. If they aren’t engaged within
                    the first two minutes, you might lose them. Remember, the goal is to keep your attendees touching their keyboard every 2 minutes.
                </p>
                <p><b>Ideas:</b></p>
                <ul>
                    <li>Tell a real-life story which has some grab value.</li>
                    <li>Share a surprising statistic.</li>
                    <li>Open up with a compelling quotation.</li>
                    <li>Ask an open-ended question and allow audience to respond via chat.</li>
                    <li>Share a pre-recorded video which tells a story that illustrates your main objectives for the session.</li>
                </ul>
                <p>A strong main event starts out with a confident, engaging introduction from a well-prepared presenter. Get started on the right foot, and the rest of your presentation will naturally flow from there.</p>
            </div>
            <div class="tabs-panel" id="panel3Inter">
                <p>Webcasting gives you a number of tools you can use to interact with members of your audience.</p>
                <p>Here are some creative ways to engage your audience via chat:</p>
                <ul>
                    <li>Ask your audience where they’re calling in from, or what the weather is like in their city, or the beverage they’re drinking that moment.</li>
                    <li>Host a mini contest via chat offering the 1st or 10th respondent a $100 gift card for answering your question.</li>
                    <li>Run a similar contest toward the end of your presentation – announce all winners at the end of your presentation.</li>
                </ul>
                <p><b>Polling Questions</b> - Polls allow you to ask your audience members for their opinions, and provide a simple, effective way to gather statistical feedback. We recommend having a poll after every 2-3 slides or 2-3 minutes.</p>
                <ul>
                    <li>Deploy a quiz to measure your audiences’ knowledge of the topic.</li>
                    <li>Ask audience members for feedback during the presentation to keep your content relevant. </li>
                    <li>Ask a polling question about the specific interest area surrounding your topic</li>
                    <li>Poll your audience for suggestions on future presentations. </li>
                </ul>
                <div class="callout small primary">
                    <p><b>Tip</b>: During the time between when a poll is asked and the answer shown (say 30 seconds) - this is a good time to skim what’s being said in the group chat and prepare you to deliver an intelligent response.</p>
                </div>
                <p><b>Questions & Answers Session</b> - Another touch point to keep an audience engaged is the Q&A session, which traditionally takes place at the end of your presentation. Be prepared to go over additional concepts, demonstrate ideas and
                    discuss what matters most to your attendees.</p>
                <ul>
                    <li>Address the Q&A feature before, during, and after you deliver your presentation.</li>
                    <li>Read the text of the question and who it was from to keep the audience engaged and invested in the content.</li>
                    <li>Don’t be afraid to say “I don’t know.” If you’re not sure about an answer, let the audience member know you’ll follow up with them after the session.</li>
                    <li>If you don’t have time for all the questions, follow up after the webcast. </li>
                </ul>
            </div>
            <div class="tabs-panel" id="panel4Inter">
                <p>Because it’s so difficult to keep people engaged we propose having presentations that are no longer than 30 minutes, in fact 20 minutes for the presentation and conclude with 10 minutes for Q&A. To make sure that you are keeping your attendees
                    touching their keyboard every two minutes, always <b>prepare an outline that ties your interactive components to the slides</b> on which they will be used.</p>
                <img class="thumbnail" src="https:placehold.it/1200x350?text=Placeholder">
            </div>
            <div class="tabs-panel" id="panel5Inter">
                <p>Webcasting is ultimately a collaborative endeavor between you and your audience. Like any other skill, this one takes some time and effort to develop. You’ll learn many lessons from your first presentation, which are all part of the process
                    of growth. Make sure that your webcasting platform gives you an engagement index by measuring how often your attendees are touching their keyboard. </p>
            </div>
        </div>
    </div>
</div>