<div class="row collapse">
    <div class="medium-3 columns">
        <ul class="tabs vertical" id="webcamTabs" data-tabs>
            <li class="tabs-title is-active"><a href="#panel1Tabs" aria-selected="true">Lighting</a></li>
            <li class="tabs-title"><a href="#panel2Tabs">Positioning</a></li>
            <li class="tabs-title"><a href="#panel3Tabs">Audio</a></li>
        </ul>
    </div>
    <div class="medium-9 columns">
        <div class="tabs-content vertical" data-tabs-content="webcamTabs">
            <div class="tabs-panel is-active" id="panel1Tabs">
                <h4>Key Light</h4>
                <p>The main light used to illuminate you.</p>
                <h4>Fill Light</h4>
                <p>The secondary light that fills shadows—usually half the intensity of the Key</p>
                <h4>Back Light</h4>
                <p>The light that shines behind adding a rim of light to the speakers head.</p>
                <h4>Use natural light when possible</h4>
                <p>The natural light in the room you can adjust the total look with overhead and additional lights as needed.</p>
            </div>
            <div class="tabs-panel" id="panel2Tabs">
                <h4>Keep windows in front of you</h4>
                <p>Open window behind the speaker can make them look dark, with the window in front of the speaker you can use the natural light to illuminate their face—adjusting blinds as needed.</p>
                <h4>Be familiar with the webcam</h4>
                <p>Knowing how to access the webcam software will help the speaker or engineer to adjust the webcam for the best possible picture.</p>
                <h4>Have proper placementof the webcam</h4>
                <p>Use the rule of thirds to align the speaker in the webcams image in the center</p>
                <h4>Make sure the camera is placed at eye level</h4>
                <p>This will ensure the speaker is looking directly at the audience. You can adjust the camera height or the chair the speaker is in to achieve this.</p>
                <h4>Avoid distracting backgrounds</h4>
                <p>Once you set up your lighting and equipment make sure to check your surroundings especially behind you to make sure there are no distracting colors or movement.</p>
            </div>
            <div class="tabs-panel" id="panel3Tabs">
                <h4>Use external microphones whenever available</h4>
                <p>Microphones built into computers and cameras often have lower quality than what you want for a webcast presentation. The mobility of an external microphone allows the speaker to place it in the optimal location for sound.</p>
                <h4>Check for good audio placement</h4>
                <p>The microphone should be close to the speaker’s mouth but no so close to pick up popping “p’s” or certain words hit the top of the audio levels. The microphone should not be in the camera view.</p>
                <h4>Test audio levels</h4>
                <p>Make sure the volume is loud enough to hear but doesn’t pick up background noise or static.</p>
                <h4>Don’t touch the microphone while live</h4>
                <p>Adjusting or moving the microphone while live will make loud noises and can disrupt the audience and the on demand recording.</p>
                <h4>Limit interference as much as possible</h4>
                <p>Turn off cell phones, fans, computer speakers, or anything else that may be a distraction during the webcast.</p>
            </div>
        </div>
    </div>
</div>