@include breakpoint(medium) {
  .right-container {
    margin-left: $desktop-cont-margin;
    padding-top: 51px;
  }
  footer {
    margin-left: $desktop-cont-margin;
  }
  .float-right {
    float: right !important;
  }
}

.left-off-canvas-menu {
  margin-top: 51px;
}

.row {
  margin: 0 auto;
  max-width: 1575px;
  padding-left: 15px;
  padding-right: 15px;
}

.streaming-section img {
  margin-bottom: 1.75rem;
}

.streaming-section {
  margin-bottom: .1rem;
  ul {
    margin-bottom: 1.85rem;
    li {
      margin-bottom: .5rem;
    }
  }
  h4 {
    margin-bottom: 1.25rem;
  }
}

.panels {
  ul {
    margin-left: 0.65rem;
    li {
      list-style: none;
    }
  }
  .callout {
    margin-bottom: 1rem;
  }
}

.to-top {
  position: fixed;
  right: 13px;
  bottom: 12px;
  color: #fff;
  background: rgba(0, 0, 0, 0.3);
  padding: 0.4rem 1.1rem;
  border-radius: 3px;
  transition: background 0.3s ease;
  cursor: pointer;
  &:hover {
    background: rgba(0, 0, 0, 0.45);
    color: #f3f3f3;
  }
}