footer {
  padding: 1.75rem 0;
  border-top: 1px solid $light-gray;
  background: $black;
  ul.footer {
    margin-left: 0;
    margin-bottom: 0;
    li {
      display: block;
      text-align: center;
      padding: .2rem 0;
      text-decoration: none;
      font-size: .9rem;
    }
     :last-child {
      margin-right: 0;
    }
    a {
      color: rgba(255, 255, 255, 0.4);
      &:hover {
        color: #999;
      }
    }
  }
}

@include breakpoint(medium) {
  .right-container {
    margin-left: $desktop-cont-margin;
    padding-top: 51px;
  }
  footer {
    margin-left: $desktop-cont-margin;
  }
  .float-right-footer {
    float: right !important;
  }
  footer {
    ul.footer {
      li {
        display: inline-block;
        text-align: center;
        padding: .2rem 0;
        text-decoration: none;
        font-size: .9rem;
      }
    }
  }
}