.title-bar {
    z-index: 100;
    padding: 0;
}

ul.menu {
    li {
        padding-top: .45rem;
        padding-bottom: .2rem;
        border-bottom: 4px solid transparent;
        &.active {
            border-bottom: 4px solid map-get($foundation-palette, primary);
        }
    }
    li:hover {
        background: rgba($white, 0.25);
        transition: background .2s ease-in;
    }
}