.title-bar {
    z-index: 100;
    padding: 0;
}

ul.menu {
    li {
        border-bottom: 4px solid transparent;
        a {
            padding-top: 1rem;
            padding-bottom: .7rem;
        }
        &.active {
            border-bottom: 4px solid map-get($foundation-palette, primary);
        }
    }
    li:hover {
        background: rgba($white, 0.25);
        transition: background .2s ease-in;
    }
}