$box-shadow: 3px 0 6px rgba(0, 0, 0, 0.24);
$vert-nav-items: lighten($light-gray, 8%);
.left-off-canvas-menu {
    transform: none;
    position: fixed;
    width: 0;
    height: 100%;
    box-shadow: $box-shadow;
    z-index: 100;
    .icon-bar {
        text-align: center;
        a {
            margin: 2rem auto;
        }
    }
}

.move-right .left-off-canvas-menu {
    width: $sidebar-width;
    background: $dark-gray;
}

.move-right .exit-off-canvas {
    display: none;
}

.left-off-canvas-toggle {
    display: none;
    margin-top: 1rem;
    margin-left: 1rem;
    font-size: 3rem;
    color: $light-gray;
    transition: all .25s ease-in-out;
    &:focus {
        color: $light-gray;
    }
    &:hover {
        color: lighten($light-gray, 35%);
        transition: all .25s ease-in-out;
    }
}

.active {
    .vert-menu-item {
        border-left: 4px solid darken($light-gray, 3%);
        transition: border-left .75s ease-in-out;
    }
}

.vert-menu-item {
    padding: 1rem;
    background: $dark-gray;
    border-bottom: 1px solid $medium-gray;
    border-left: 4px solid transparent;
    label {
        color: $vert-nav-items
    }
    i {
        color: $vert-nav-items;
    }
    &:hover {
        background: lighten($dark-gray, 15%);
        /* Safari */
        -webkit-transition: background .2s ease-in;
        transition: background .3s ease-in;
    }
}

.best-practice-container {
    position: relative;
}

.best-practice {
    border-left: 1px solid $medium-gray;
    position: absolute;
    top: 0;
    right: 0;
    padding: 2.3rem 1.1rem 2.25rem 1rem;
    margin: 0;
}

.hide {
    transition: 1s ease;
}

[data-toggle="dropdown-tabs-content"] {
    .tabs {
        border: 0;
        >.tabs-title {
            border-bottom: 1px solid $dark-gray;
            text-align: right;
            &.is-active {
                a {
                    background: lighten($light-gray, 15%);
                    color: $dark-gray;
                    width: calc(100% + 4%);
                    transition: width .37s ease-in-out;
                }
            }
            a {
                background: lighten($medium-gray, 4%);
                color: lighten($light-gray, 5%);
            }
        }
    }
}

.tabs-title {
    float: left;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
}

.left-off-canvas-menu {
    .icon-bar {
        a {
            margin: 0 auto;
            width: 100%;
            display: block;
            float: left;
        }
    }
}