<div class="callout secondary" id="videospecifications" data-magellan-target="videospecifications">
  <div class="row">
    <div class="large-12 columns">
      <h3 class="title">Video Specifications</h3>
      <p>This document reviews the specifications for video files. The below specifications are recommendations for the best user experience. If for some reason you find that you need to deviate from the recommended specifications, please contact your INXPO
        project manager or, if self-service, contact the INXPO Solutions team at <a href="mailto:vxhelp@inxpo.com">vxhelp@inxpo.com</a>.</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <section class="overview-section">
      <article>
        <h4>Video Specifications:</h4>
        <ul>
          <li>
            <p><b>Video Dimensions: </b>800px x 450px</p>
          </li>
          <li>
            <p><b>Video Bitrate: </b>650Kbps to 750Kbps</p>
          </li>
          <li>
            <p><b>Video File Type: </b>MP4</p>
          </li>
          <li>
            <p><b>Video Codec: </b>H.264</p>
          </li>
          <li>
            <p><b>Video FPS: </b>29.97</p>
          </li>
          <li>
            <p><b>Audio Bitrate: </b>96Kbps</p>
          </li>
          <li>
            <p><b>Audio Specifications: </b>44000Hz, Mono</p>
          </li>
          <li>
            <p><b>Audio Codec: </b>MP3 or AAC</p>
          </li>
        </ul>
      </article>
      <article>
        <h4>Video Application:</h4>
        <ul>
          <li>
            <p>There are many ways to incorporate video into your online event. The specifications above can be used across the INXPO platform.</p>
          </li>
        </ul>
      </article>
      <article>
        <h4>Online Events:</h4>
        <ul>
          <li>
            <p>Welcome video - A great way to introduce your virtual environment to attendees</p>
          </li>
          <li>
            <p>Booth videos - A nice way to tell your company story inside of your sponsor booth</p>
          </li>
        </ul>
      </article>
      <article>
        <h4>Webcasting:</h4>
        <ul>
          <li>
            <p>Video can be your main webcast media</p>
          </li>
          <li>
            <p>Video slides are a great way to break up your presentation content</p>
          </li>
        </ul>
      </article>
      <article>
        <h4>Video Considerations:</h4>
        <p>When using video slides during webcam or FME webcasts, viewers will stream the combined bit rate of the main XPOCAST media and the video slide. Please be sure to specify the FPS when submitting videos. When submitting multiple videos, please make
          sure the specs are consistent across all files.</p>
        <p>Please Note: It is strongly recommended that sessions primarily targeting the APAC region use a bitrate of 450 Kbps or lower. For webcasts including video, you will need a minimum Internet connection of 450Kbps. INXPO recommends a connection of
          750Kbps or higher.</p>
      </article>
    </section>
  </div>
</div>
<div class="reveal" id="tipModal" data-reveal>
  <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
  <div class="responsive-embed">
    <iframe width="100%" height="800" src="https://presentations.inxpo.com/SharedContent/HTML/VX/ComputerTips.htm" frameborder="0" allowfullscreen></iframe>
  </div>
</div>