<div class="row collapse">
    <div class="medium-2 columns">
        <ul class="tabs vertical" id="attireTabs" data-tabs>
            <li class="tabs-title is-active"><a href="#panel1Attire" aria-selected="true">Introduction</a></li>
            <li class="tabs-title"><a href="#panel2Attire">What To Wear</a></li>
            <li class="tabs-title"><a href="#panel3Attire">What Not to Wear</a></li>
        </ul>
    </div>
    <div class="medium-10 columns">
        <div class="tabs-content vertical" data-tabs-content="attireTabs">
            <div class="tabs-panel is-active" id="panel1Attire">


            </div>

        </div>
    </div>
</div>