<div class="tabs-content" data-tabs-content="deeplinked-tabs">
    <div class="tabs-panel is-active" id="panel1d">
        {{> live-day}}
    </div>
    <div class="tabs-panel" id="panel2d">
        {{> interactive}}
    </div>
    <div class="tabs-panel" id="panel3d">
        {{> telephone}}
    </div>
    <div class="tabs-panel" id="panel4d">
        {{> webcam}}
    </div>
    <div class="tabs-panel" id="panel5d">
        {{> location}}
    </div>
    <div class="tabs-panel" id="panel6d">
        {{> post-webcast}}
    </div>
</div>