<!--<ul class="tabs" data-deep-link="true" data-tabs id="deeplinked-tabs">
    <li class="tabs-title is-active"><a href="#panel1d" aria-selected="true">Live-Day Tips</a></li>
    <li class="tabs-title"><a href="#panel2d">Interactivity</a></li>
    <li class="tabs-title"><a href="#panel3d">Telephone</a></li>
    <li class="tabs-title"><a href="#panel4d">Webcam</a></li>
    <li class="tabs-title"><a href="#panel5d">Location</a></li>
    <li class="tabs-title"><a href="#panel6d">Attire</a></li>
    <li class="tabs-title"><a href="#panel7d">Post Webcast</a></li>
</ul>-->

<div class="tabs-content" data-tabs-content="deeplinked-tabs">
    <div class="tabs-panel is-active" id="panel1d">
        {{> live-day}}
    </div>
    <div class="tabs-panel" id="panel2d">
        {{> interactive}}
    </div>
    <div class="tabs-panel" id="panel3d">
        {{> telephone}}
    </div>
    <div class="tabs-panel" id="panel4d">
        {{> webcam}}
    </div>
    <div class="tabs-panel" id="panel5d">
        {{> location}}
    </div>
    <div class="tabs-panel" id="panel6d">
        {{> attire}}
    </div>
    <div class="tabs-panel" id="panel7d">
        {{> post-webcast}}
    </div>
</div>