<div class="show-for-medium">
  <div class="callout secondary" id="audiobest" data-magellan-target="audiobest">
    <div class="row">
      <div class="large-12 columns">
        <h3 class="title">Best Practices</h3>
        <p>When delivering a webcast you can use a variety of devices.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <section class="engagingcontent-section">
        <article>
          {{> best-practice-tabs}}
        </article>
      </section>
    </div>
  </div>
</div>