<div class="row collapse">
    <div class="medium-2 columns">
        <ul class="tabs vertical" id="interTabs" data-tabs>
            <li class="tabs-title is-active"><a href="#panel1Inter" aria-selected="true">Introduction</a></li>
            <li class="tabs-title"><a href="#panel2Inter">The Opening Act</a></li>
            <li class="tabs-title"><a href="#panel3Inter">Interactive Tools</a></li>
            <li class="tabs-title"><a href="#panel4Inter">Engagement Tips</a></li>
            <li class="tabs-title"><a href="#panel5Inter">Sample Presentation Flow</a></li>
            <li class="tabs-title"><a href="#panel6Inter">Conclusion</a></li>
        </ul>
    </div>
    <div class="medium-10 columns">
        <div class="tabs-content vertical" data-tabs-content="interTabs">
            <div class="tabs-panel is-active" id="panel1Inter">
                <div class="medium-8 float-left">
                    <p>This guide is an introduction to some of the best practices and tools available within a webcast that you can use to enhance the attendee experience as well as some tips and advice to <b>keep your attendees touching their keyboard every 2
                    minutes.</b></p>
                </div>
                <div class="medium-4 float-right">
                    <img src="assets/img/interactivity/introduction.png" alt="">
                </div>
            </div>
            <div class="tabs-panel" id="panel2Inter">
                <p>When you do begin the main event, <b>remember to lead with something attention grabbing</b>. Remember, audience members are typically at work or at home during webcasts and have a lot of demands on their time. If they aren’t engaged within
                    the first two minutes, you might lose them. Remember, the goal is to keep your attendees touching their keyboard every 2 minutes.
                </p>
                <h4>Ideas</h4>
                <ul>
                    <li>Tell a real-life story which has some grab value.</li>
                    <li>Share a surprising statistic.</li>
                    <li>Open up with a compelling quotation.</li>
                    <li>Ask an open-ended question and allow audience to respond via chat.</li>
                    <li>Share a pre-recorded video which tells a story that illustrates your main objectives for the session.</li>
                </ul>
                <p>A strong main event starts out with a confident, engaging introduction from a well-prepared presenter. Get started on the right foot, and the rest of your presentation will naturally flow from there.</p>
            </div>
            <div class="tabs-panel" id="panel3Inter">
                <h4>Chat</h4>
                <ul>
                    <li>Ask your audience where they’re calling in from, or what the weather is like in their city, or the beverage they’re drinking that moment.</li>
                    <li>Host a mini contest via chat offering the 1st or 10th respondent a $100 gift card for answering your question.</li>
                    <li>Run a similar contest toward the end of your presentation – announce all winners at the end of your presentation.</li>
                </ul>
                <h4>Polling Questions</h4>
                <p>Polls allow you to ask your audience members for their opinions, and provide a simple, effective way to gather statistical feedback. We recommend having a poll after every 2-3 slides or 2-3 minutes.</p>
                <ul>
                    <li>Deploy a quiz to measure your audiences’ knowledge of the topic.</li>
                    <li>Ask audience members for feedback during the presentation to keep your content relevant. </li>
                    <li>Ask a polling question about the specific interest area surrounding your topic</li>
                    <li>Poll your audience for suggestions on future presentations. </li>
                </ul>
                <h4>Questions & Answers Session</h4>
                <p>Another touch point to keep an audience engaged is the Q&A session, which traditionally takes place at the end of your presentation. Be prepared to go over additional concepts, demonstrate ideas and discuss what matters most to your attendees.</p>
                <ul>
                    <li>Address the Q&A feature before, during, and after you deliver your presentation.</li>
                    <li>Read the text of the question and who it was from to keep the audience engaged and invested in the content.</li>
                    <li>Don’t be afraid to say “I don’t know.” If you’re not sure about an answer, let the audience member know you’ll follow up with them after the session.</li>
                    <li>If you don’t have time for all the questions, follow up after the webcast. </li>
                </ul>
            </div>
            <div class="tabs-panel" id="panel4Inter">
                <h4>Learn the Content</h4>
                <p>Familiarity with the content allows a speaker to focus on presenting, rather than trying to remember the points to make. To minimize worry about forgetting elements of the presentation, include notes in your presentation file and have
                    a printout of your script or talking points.</p>
                <h4>Practice Makes Perfect</h4>
                <p>Speakers should practice their content delivery in the environment in which they will deliver it, such as in front of a computer. Presenting alone to a computer can be awkward at first. To make speakers more comfortable, ask colleagues
                    to sit in front so they can present to familiar faces.</p>
                <h4>Understand the Tools</h4>
                <p>Speakers should understand and utilize the content options available to them, to maximize the effectiveness of the presentation technology. It’s important to know the basic functions of the software, e.g. how to advance slides, push out
                    polls, manage Q&A or chats, before the presentation. A moderator can handle these tasks if the speaker is uncomfortable with them or prefers to focus solely on presenting.</p>
                <h4>Speak Up</h4>
                <p>Check audio levels before presenting, but also make sure to breathe at regular intervals to speak audibly and clearly. Maintaining a clear, even tone throughout the presentation will allow the audience to hear it without adjusting their
                    volume settings. </p>
                <h4>Look at Your Camera</h4>
                <p>If presenting via video, remember, the webcam is your link to your audience. Make eye contact with the camera so it appears to the audience that you are speaking directly to them.</p>
                <h4>More is More</h4>
                <p>A single speaker can be highly engaging, but including additional speakers often provides a more conversational experience for the audience. Multiple speakers during a presentation can also make speakers feel more at ease.</p>
                <h4>Don’t Fear Mistakes</h4>
                <p>Humans make mistakes, even during presentations. Realize that flubs happen and they won’t derail your presentation – unless you let them. Just keep going in your planned presentation and remember, the audience is forgiving</p>
                <h4>Be Prepared</h4>
                <p>During the presentation, have a glass of water nearby to sip as needed. Also, keep handy a printout of your slides or notes in case you need to refer to them.</p>
            </div>
            <div class="tabs-panel" id="panel5Inter">
                <p>Because it’s so difficult to keep people engaged we propose having presentations that are no longer than 30 minutes, in fact 20 minutes for the presentation and conclude with 10 minutes for Q&A. To make sure that you are keeping your attendees
                    touching their keyboard every two minutes, always <b>prepare an outline that ties your interactive components to the slides</b> on which they will be used.</p>
            </div>
            <div class="tabs-panel" id="panel6Inter">
                <p>Webcasting is ultimately a collaborative endeavor between you and your audience. Like any other skill, this one takes some time and effort to develop. You’ll learn many lessons from your first presentation, which are all part of the process
                    of growth. Make sure that your webcasting platform gives you an engagement index by measuring how often your attendees are touching their keyboard. </p>
            </div>
        </div>
    </div>
</div>
<div class="callout small primary">
    <p><b>Tip</b>: During the time between when a poll is asked and the answer shown (say 30 seconds) - this is a good time to skim what’s being said in the group chat and prepare you to deliver an intelligent response.</p>
</div>