<div class="row collapse">
    <div class="medium-2 columns">
        <ul class="tabs vertical" id="liveTabs" data-tabs>
            <li class="tabs-title is-active"><a href="#panel1live" aria-selected="true">Introduction</a></li>
            <li class="tabs-title"><a href="#panel2live">Preparation</a></li>
            <li class="tabs-title"><a href="#panel3live">Timing</a></li>
            <li class="tabs-title"><a href="#panel4live">Inform Audience</a></li>
            <li class="tabs-title"><a href="#panel5live">Eye Contact</a></li>
            <li class="tabs-title"><a href="#panel6live">Issues</a></li>
            <li class="tabs-title"><a href="#panel7live">Have Fun!</a></li>
        </ul>
    </div>
    <div class="medium-10 columns">
        <div class="tabs-content vertical" data-tabs-content="liveTabs">
            <div class="tabs-panel is-active" id="panel1live">
                <div class="medium-8 float-left">
                    <h4>Live Day</h4>
                    <p>The live webcast day is when the audience is going to login to watch and engage with the session. It’s important to have everything in place before you go live to ensure the webcast runs smoothly and the audience has a great experience.
                        The following tips for your Live Day will help you become better prepared so you can present with confidence, leaving your audience wanting more!
                    </p>
                </div>
                <div class="medium-4 float-right">
                    <img src="assets/img/live-day-tips/introduction.png" alt="">
                </div>
            </div>
            <div class="tabs-panel" id="panel2live">
                <div class="medium-8 float-left">
                    <h4>Have a Copy of the Slides</h4>
                    <p>Speakers should print a copy of their slides with notes and have them on hand in case of emergency. If the speaker uses a teleprompter or loses their train of thought a quick glance at the slides will help to pull everything back together.</p>
                    <h4>Have a Glass of Water Handy</h4>
                    <p><b>Have a glass of water in case the speaker becomes parched</b>. It’s not uncommon for speakers to get nervous and get distracted when their mouth gets dry. A glass of water will help the speaker take a pause, regain composure, and
                        continue the webcast with out a problem</p>
                </div>
                <div class="medium-4 float-right">
                    <img src="assets/img/live-day-tips/preparation.png" alt="">
                </div>
            </div>
            <div class="tabs-panel" id="panel3live">
                <div class="medium-8 float-left">
                    <h4>Arrive 30 Minutes Early</h4>
                    <p><b>Give the speaker or engineer time to setup</b> and test equipment and software, do a quick slide run through, and prepare additional seed questions. Speakers can begin to interact with the audience as they trickle in to get them
                        excited and engaged.
                    </p>
                    <h4>Start On Time</h4>
                    <p><b>Go live at the published time</b>. Attendees may continue to join but speakers shouldn’t punish the ones who were on time by starting late. Starting on time shows you are professional and are well prepared with the material and
                        technology.
                    </p>
                    <h4>Be Conscious of Timing</h4>
                    <p><b>Use the timer to stay on pace and make sure to complete the content with time for Q&A</b>. Practicing delivering content will give you a good idea of how long the presentation will be and help you to map out how long of a time you
                        should leave for questions and wrap up. If the webcast runs over let attendees know they can catch the rest of the Q&A on demand if they can’t stay.</p>
                </div>
                <div class="medium-4 float-right">
                    <img src="assets/img/live-day-tips/timing.png" alt="">
                </div>
            </div>
            <div class="tabs-panel" id="panel4live">
                <div class="medium-8 float-left">
                    <h4>Tell the Audience What's Expected of Them</h4>
                    <p>Review how to properly use group chats, Q&A, polls, etc. so that your audience can participate right from the beginning of your webcast. If the audience is familiar with all the features and tools they will more likely use them, be
                        engaged, and have a more interactive webcast experience.</p>
                </div>
                <div class="medium-4 float-right">
                    <img src="assets/img/live-day-tips/inform-audience.png" alt="">
                </div>
            </div>
            <div class="tabs-panel" id="panel5live">
                <div class="medium-8 float-left">
                    <h4>Look Into the Camera</h4>
                    <p><b>For video sessions, don’t swivel, look down at notes, or look around the room. Connect with the audience by looking into the camera</b>. Having the speaker make eye contact with the camera helps to keep the audiences attention and
                        creates the illusion that the speaker is looking at an audience. Keeping “eye contact” with your audience shows you are confident in the information you are sharing.</p>
                </div>
                <div class="medium-4 float-right">
                    <img src="assets/img/live-day-tips/eye-contact.png" alt="">
                </div>
            </div>
            <div class="tabs-panel" id="panel6live">
                <div class="medium-8 float-left">
                    <h4>Don't Announce Problems</h4>
                    <p><b>If something does occur or the speaker is unsure of how to do something, use the presenter tools to address this instead of announcing it to the audience</b>. If the audience thinks there’s an issue they may leave and the announcement
                        of an issue will be on the final recording. </p>
                </div>
                <div class="medium-4 float-right">
                    <img src="assets/img/live-day-tips/issues.png" alt="">
                </div>
            </div>
            <div class="tabs-panel" id="panel7live">
                <div class="medium-8 float-left">
                    <h4>Have Fun!</h4>
                    <p><b>If the speaker is smiling and seems interested in the content, the audience will be too</b>. It is important to stay professional but show some personality. If you are having a good time, most likely the audience will be too.</p>
                </div>
                <div class="medium-4 float-right">
                    <img src="assets/img/live-day-tips/have-fun.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>