<div class="row collapse">
    <div class="medium-2 columns">
        <ul class="tabs vertical" id="locationTabs" data-tabs>
            <li class="tabs-title is-active"><a href="#panel1Location" aria-selected="true">Introduction</a></li>
            <li class="tabs-title"><a href="#panel2Location">Hard-Wired Connection</a></li>
            <li class="tabs-title"><a href="#panel3Location">Ensure Privacy</a></li>
            <li class="tabs-title"><a href="#panel4Location">Noise Reduction</a></li>
            <li class="tabs-title"><a href="#panel5Location">Lighting</a></li>
            <li class="tabs-title"><a href="#panel6Location">Unexpected Sounds</a></li>
            <li class="tabs-title"><a href="#panel7Location">Seating</a></li>
            <li class="tabs-title"><a href="#panel8Location">Headset</a></li>
        </ul>
    </div>
    <div class="medium-10 columns">
        <div class="tabs-content vertical" data-tabs-content="locationTabs">
            <div class="tabs-panel is-active" id="panel1Location">
                <div class="medium-8 float-left">
                    <p>When delivering a webcast, your location plays a key role in how your audience will perceive your message. If possible, deliver presentations from a studio or green room, to provide the highest-quality look and sound for your webcast.
                        For many presenters, these resources are not available, so webcasts often are broadcast from an office or conference room. There are several key considerations in choosing a good location for webcasts, including: noise, proximity
                        to other offices, lighting options, network connection and more. Selecting a room from which to deliver the session should not be a last-minute decision. Speakers should know the room they’ll be in, make sure it’s reserved and
                        have practiced from that room in advance.
                    </p>
                </div>
                <div class="medium-4 float-right">
                    <img src="assets/img/location/introduction.png" alt="">
                </div>
            </div>
            <div class="tabs-panel" id="panel2Location">
                <div class="medium-8 float-left">
                    <p>Wireless networks can be fickle and are more likely to drop connections, which can disrupt the presentation. Being hard-wired will help ensure strong connectivity and clear audio and video streams.</p>
                </div>
                <div class="medium-4 float-right">
                    <img src="assets/img/location/hard-wire.png" alt="">
                </div>
            </div>
            <div class="tabs-panel" id="panel3Location">
                <div class="medium-8 float-left">
                    <p>Speakers’ locations should have doors that can be closed, to block out interruptions. If necessary, a note on the door can alert others to be quiet during recording.</p>
                </div>
                <div class="medium-4 float-right">
                    <img src="assets/img/location/privacy.png" alt="">
                </div>
            </div>
            <div class="tabs-panel" id="panel4Location">
                <div class="medium-8 float-left">
                    <p><b>Know How to Mute</b>: When it is not a particular speaker’s turn to be on air, they should be able to mute the phone to minimize background noise on the recording Speak Slowly: When recording speak slower than normally. Try not
                        to interrupt other parties speaking and avoid voice overlaps. Speaking slowly and clearly with enough pauses to let the other person speak helps ensure that the recording is crisp and clear. Keep Still: It is advisable not to move
                        around unnecessarily during a recording. Even small sounds like the microphone rubbing against the collar of a shirt, rustling papers etc., can cause interferences in the telephone recording. Moving will also cause the speaker's
                        voice volume to fluctuate as they move farther from and closer to the microphone.</p>
                </div>
                <div class="medium-4 float-right">
                    <img src="assets/img/location/noise-reduction.png" alt="">
                </div>
            </div>
            <div class="tabs-panel" id="panel5Location">
                <div class="medium-8 float-left">
                    <p>For webcam presentations, speakers should set up for optimal on-camera display. That means they’ll need to control the overhead and window lighting, to allow ample illumination and avoid glare. Interior rooms with no natural light
                        source may require additional lighting to brighten the space.
                    </p>
                </div>
                <div class="medium-4 float-right">
                    <img src="assets/img/location/lighting.png" alt="">
                </div>
            </div>
            <div class="tabs-panel" id="panel6Location">
                <div class="medium-8 float-left">
                    <p>Manage noise by turning off fans, telephones or public address systems. Keeping ambient noise to a minimum is important for a good webcast experience. If speakers can’t control noise-generating equipment, another location would be
                        best.
                    </p>
                </div>
                <div class="medium-4 float-right">
                    <img src="assets/img/location/unexpected-sounds.png" alt="">
                </div>
            </div>
            <div class="tabs-panel" id="panel7Location">
                <div class="medium-8 float-left">
                    <p>For video presentations, comfortable and stationary seating is preferred. Presenters should use chairs that are adjustable for height but do not swivel. Swiveling on camera creates a poor attendee experience and can be distracting.</p>
                </div>
                <div class="medium-4 float-right">
                    <img src="assets/img/location/seating.png" alt="">
                </div>
            </div>
            <div class="tabs-panel" id="panel8Location">
                <div class="medium-8 float-left">
                    <p>For telephonic presentations, speakers should use phones with a headset. Cell phones or speaker phones are bad choices when giving a presentation because the sound can come through muffled or distorted, and speaker phones can pick
                        up outside noises that may distract the listening audience.</p>
                </div>
                <div class="medium-4 float-right">
                    <img src="assets/img/location/headset.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>