<div class="row collapse">
    <div class="medium-2 columns">
        <ul class="tabs vertical" id="PostWebTabs" data-tabs>
            <li class="tabs-title is-active"><a href="#panel1PostWeb" aria-selected="true">Introduction</a></li>
            <li class="tabs-title"><a href="#panel2PostWeb">Metrics</a></li>
            <li class="tabs-title"><a href="#panel3PostWeb">Feedback</a></li>
            <li class="tabs-title"><a href="#panel4PostWeb">Content</a></li>
        </ul>
    </div>
    <div class="medium-10 columns">
        <div class="tabs-content vertical" data-tabs-content="PostWebTabs">
            <div class="tabs-panel is-active" id="panel1PostWeb">
                <div class="medium-8 float-left">
                    <h4>Once a Webcast is Over</h4>
                    <p>Analyzing a variety of metrics can help organizations understand the event’s impact and how to create successful future webcasts. <b>Two key metrics are audience participation and engagement scores</b>. It’s important to keep in mind
                        that these metrics may fluctuate as new audience members watch the session on demand. :
                    </p>
                </div>
                <div class="medium-4 float-right">
                    <img src="assets/img/post-webcast/introduction.png" alt="">
                </div>
            </div>
            <div class="tabs-panel" id="panel2PostWeb">
                <div class="medium-8 float-left">
                    <h4>Review the Metrics</h4>
                    <p>Understand attendance numbers. Where during the webcast did numbers drop? At which points was attendance highest?</p>
                    <p><b>Review survey results, chat comments, Q&A and polls</b> to see how the session was received. You might find that specific areas worked well for the audience or topics were difficult to understand.</p>
                    <p>Answer via email any questions there wasn’t time for during the webcast</p>
                </div>
                <div class="medium-4 float-right">
                    <img src="assets/img/post-webcast/metrics.png" alt="">
                </div>
            </div>
            <div class="tabs-panel" id="panel3PostWeb">
                <div class="medium-8 float-left">
                    <h4>Review the Metrics</h4>
                    <p>Ask the audience and a trusted source (or two) to critique the webcast content, pace, performance, etc. </p>
                    <p><b>Gathering feedback</b> will help to improve future webcasts and understand what components work and which areas need fixing.</p>
                    <p><b>Ask the audience what other topics they are interested in</b>, to continue creating content that captures interest and keeps them coming back, or spreading the word about content you are producing.</p>
                </div>
                <div class="medium-4 float-right">
                    <img src="assets/img/post-webcast/feedback.png" alt="">
                </div>
            </div>
            <div class="tabs-panel" id="panel4PostWeb">
                <div class="medium-8 float-left">
                    <h4>Re-Use the Content</h4>
                    <p>Your webcast is a rich source of content to re-use and re-purpose. Leverage it after the event.</p>
                    <p>For a marketing webcast, promote on-demand access to extend the life and value of the program, especially for those who registered but did not attend. If your webcast was for training, <b>audience questions and comments are a great source
                    of new FAQs and supplementary material</b> for another touch that solidifies the topic for your audience. Don’t forget to monitor comments and questions that may arise from on-demand viewers</p>
                </div>
                <div class="medium-4 float-right">
                    <img src="assets/img/post-webcast/content.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>