<div class="row collapse">
    <div class="medium-3 columns">
        <ul class="tabs vertical" id="telephoneTabs" data-tabs>
            <li class="tabs-title is-active"><a href="#panel1Phone" aria-selected="true">Speaker Phone</a></li>
            <li class="tabs-title"><a href="#panel2Phone">Cell Phone</a></li>
            <li class="tabs-title"><a href="#panel3Phone">Computer with Headsets</a></li>
            <li class="tabs-title"><a href="#panel4Phone">Things to Remember</a></li>
        </ul>
    </div>
    <div class="medium-9 columns">
        <div class="tabs-content vertical" data-tabs-content="telephoneTabs">
            <div class="tabs-panel is-active" id="panel1Phone">
                <p>With a standalone speaker phone (excluding those that are part of a video conference system) ALL ambient background sounds (i.e. someone tapping on the table with fingers, typing on a computer, doors opening or closing, even air circulation
                    devices etc.) will be heard and magnified through the speaker phone. While speaker phones are convenient for large meetings, the audio quality does suffer exponentially. Clarity may also be impacted depending upon the quality of the
                    device.
                </p>
            </div>
            <div class="tabs-panel" id="panel2Phone">
                <p>Cell phones are a good back up option to the devices mentioned above. One thing to consider however, is that the tiny microphone in a cell phone picks up higher frequency background noises. While speakers may not hear the noises during
                    the live call, the recording picks up and records every sound coming into it. Also cell phones have a higher risk of dropped calls and therefore have a lower level of reliability. At one point, you may have a clear connection and then
                    that signal becomes loss where the speaker is dropped or the call strength intermittently fades which results in noise or inconsistent speaker volume and/or clarity levels which are recorded as such.</p>
            </div>
            <div class="tabs-panel" id="panel3Phone">
                <p>Headsets are a convenient way to communicate via telephone and computer. Being hands free is a benefit, however the audio quality varies depending on the type of headset. Wired headsets, which offer a direct connection, will always provide
                    better quality than wireless or Bluetooth.</p>
            </div>
            <div class="tabs-panel" id="panel4Phone">
                <p>Know How to Mute: When it is not a particular speaker’s turn to be on air, they should be able to mute the phone to minimize background noise on the recording Speak Slowly: When recording speak slower than normally. Try not to interrupt
                    other parties speaking and avoid voice overlaps. Speaking slowly and clearly with enough pauses to let the other person speak helps ensure that the recording is crisp and clear. Keep Still: It is advisable not to move around unnecessarily
                    during a recording. Even small sounds like the microphone rubbing against the collar of a shirt, rustling papers etc., can cause interferences in the telephone recording. Moving will also cause the speaker's voice volume to fluctuate
                    as they move farther from and closer to the microphone.</p>
            </div>
        </div>
    </div>
</div>
<div class="callout telephone small primary">
    <p>We recommend using a desktop phone with a handheld receiver to produce the best telephone audio quality. These devices are also the most reliable. This option is ideal for multiple speakers as the change from speaker to speaker is achieved simply
        by speaking. For these reasons, we always recommend using this device.</p>
</div>