<div class="row collapse">
    <div class="medium-2 columns">
        <ul class="tabs vertical" id="webcamTabs" data-tabs>
            <li class="tabs-title is-active"><a href="#panel1Webcam" aria-selected="true">Lighting</a></li>
            <li class="tabs-title"><a href="#panel2Webcam">Positioning</a></li>
            <li class="tabs-title"><a href="#panel3Webcam">Audio</a></li>
            <li class="tabs-title"><a href="#panel4Webcam">What To Wear</a></li>
            <li class="tabs-title"><a href="#panel5Webcam">What Not to Wear</a></li>
        </ul>
    </div>
    <div class="medium-10 columns">
        <div class="tabs-content vertical" data-tabs-content="webcamTabs">
            <div class="tabs-panel is-active" id="panel1Webcam">
                <div class="medium-8 float-left">
                    <h4>Key Light</h4>
                    <p>The main light used to illuminate you.</p>
                    <h4>Fill Light</h4>
                    <p>The secondary light that fills shadows—usually half the intensity of the Key</p>
                    <h4>Back Light</h4>
                    <p>The light that shines behind adding a rim of light to the speakers head.</p>
                    <h4>Use Natural Light When Possible</h4>
                    <p>The natural light in the room you can adjust the total look with overhead and additional lights as needed.</p>
                </div>
                <div class="medium-4 float-right">
                    <img src="assets/img/webcam/lighting.png" alt="">
                </div>
            </div>
            <div class="tabs-panel" id="panel2Webcam">
                <div class="medium-8 float-left">
                    <h4>Keep Windows in Front of You</h4>
                    <p>Open window behind the speaker can make them look dark, with the window in front of the speaker you can use the natural light to illuminate their face—adjusting blinds as needed.</p>
                    <h4>Be Familiar With the Webcam</h4>
                    <p>Knowing how to access the webcam software will help the speaker or engineer to adjust the webcam for the best possible picture.</p>
                    <h4>Have Proper Placement of the Webcam</h4>
                    <p>Use the rule of thirds to align the speaker in the webcams image in the center</p>
                    <h4>Make Sure the Samera is Placed at Eye Level</h4>
                    <p>This will ensure the speaker is looking directly at the audience. You can adjust the camera height or the chair the speaker is in to achieve this.</p>
                    <h4>Avoid Distracting Backgrounds</h4>
                    <p>Once you set up your lighting and equipment make sure to check your surroundings especially behind you to make sure there are no distracting colors or movement.</p>
                </div>
                <div class="medium-4 float-right">
                    <img src="assets/img/webcam/positioning.png" alt="">
                </div>
            </div>
            <div class="tabs-panel" id="panel3Webcam">
                <div class="medium-8 float-left">
                    <h4>Use External Microphones Whenever Available</h4>
                    <p>Microphones built into computers and cameras often have lower quality than what you want for a webcast presentation. The mobility of an external microphone allows the speaker to place it in the optimal location for sound.</p>
                    <h4>Check for Good Audio Placement</h4>
                    <p>The microphone should be close to the speaker’s mouth but no so close to pick up popping “p’s” or certain words hit the top of the audio levels. The microphone should not be in the camera view.</p>
                    <h4>Test Audio Levels</h4>
                    <p>Make sure the volume is loud enough to hear but doesn’t pick up background noise or static.</p>
                    <h4>Don’t Touch the Microphone While Live</h4>
                    <p>Adjusting or moving the microphone while live will make loud noises and can disrupt the audience and the on demand recording.</p>
                    <h4>Limit Interference as Much as Possible</h4>
                    <p>Turn off cell phones, fans, computer speakers, or anything else that may be a distraction during the webcast.</p>
                </div>
                <div class="medium-4 float-right">
                    <img src="assets/img/webcam/audio.png" alt="">
                </div>
            </div>
            <div class="tabs-panel" id="panel4Webcam">
                <div class="medium-8 float-left">
                    <p><b>When you decide to speak on camera during a webcast, what you wear matters as much as the content you are presenting</b>. Not only will your audience see you, but the camera also reacts differently to certain colors and patterns.
                        Looking your best can help you capture more of your audience’s attention. <b>To follow some best practices on camera</b>:
                    </p>
                    <h4>Blues/Cooler Tones</h4>
                    <p>Blue and other cool color tones enhance presenter on camera</p>
                    <h4>Tie Long Hair Back</h4>
                    <p>Can interfere with microphone and distract audience</p>
                    <h4>Contact Lenses</h4>
                    <p>If possible, avoid glasses, which can cause glare; otherwise adjust lighting</p>
                    <h4>Make-Up</h4>
                    <p>Foundation helps men and women avoid looking too shiny or washed out</p>
                </div>
                <div class="medium-4 float-right">
                    <img src="assets/img/webcam/wear.png" alt="">
                </div>
            </div>
            <div class="tabs-panel" id="panel5Webcam">
                <div class="medium-8 float-left">
                    <h4>Small Patterns (e.g. polka dots)</h4>
                    <p>Patterns can create interference with the camera, known as a Moire effect</p>
                    <h4>Tight Pinstripes</h4>
                    <p>Camera interference</p>
                    <h4>Busy Colored Patterns</h4>
                    <p>Large patterns can distract viewers</p>
                    <h4>High Contrast (White, Black, Mixed)</h4>
                    <p>Camera interference</p>
                    <h4>Scarves</h4>
                    <p>Microphone interference</p>
                    <h4>Dangling Earrings and Shiny Jewelry</h4>
                    <p>Can reflect lighting and cause glare</p>
                </div>
                <div class="medium-4 float-right">
                    <img src="assets/img/webcam/not-wear.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>