<div class="callout secondary" id="overview" data-magellan-target="overview">
    <div class="row">
        <div class="large-12 columns">
            <h3 class="title">Overview</h3>
            <p>XPOCAST widgets are customizable, interactive webcast console options. Hosts can choose which widgets will most enhance each broadcast and enable them easily through INXPO’s full service team or self-service, in XPOCAST Prime. Use this guide
                to determine which widgets will be most beneficial during any upcoming broadcast.</p>
        </div>
    </div>
</div>
<div class="row widget">
    <div class="large-12 columns">
        <section id="commonlyused" data-magellan-target="commonlyused">
            <article>
                <h4>Most Commonly Used Widgets:</h4>
                <div class="media-object">
                    <div class="media-object-section">
                        <div class="thumbnail">
                            <img src="./assets/img/icons/MediaPLayer.png">
                        </div>
                    </div>
                    <div class="media-object-section">
                        <p><b>Media Player:</b> (Required) Audio and video player for the session. Allows audience members to adjust volume and, for on demand, fast forward, pause and rewind.</p>
                    </div>
                </div>
                <div class="media-object">
                    <div class="media-object-section">
                        <div class="thumbnail">
                            <img src="./assets/img/icons/Slides.png">
                        </div>
                    </div>
                    <div class="media-object-section">
                        <p><b>Slides:</b> PowerPoint slides, polling questions, desktop sharing, video clips, tests and more can be displayed within a slides widget.</p>
                    </div>
                </div>
                <div class="media-object">
                    <div class="media-object-section">
                        <div class="thumbnail">
                            <img src="./assets/img/icons/Agenda.png">
                        </div>
                    </div>
                    <div class="media-object-section">
                        <p><b>Chapter:</b> For live/simulive webcasts this serves as a real-time agenda attendees can follow along with. Once on demand, users can skip directly to the chapter they wish to view.</p>
                    </div>
                </div>
                <div class="media-object">
                    <div class="media-object-section">
                        <div class="thumbnail">
                            <img src="./assets/img/icons/Chat.png">
                        </div>
                    </div>
                    <div class="media-object-section">
                        <p><b>Group Chat:</b> Allows attendees to have open, text-based, chat throughout the webcast.</p>
                    </div>
                </div>
                <div class="media-object">
                    <div class="media-object-section">
                        <div class="thumbnail">
                            <img src="./assets/img/icons/QA.png">
                        </div>
                    </div>
                    <div class="media-object-section">
                        <p><b>Q&A:</b> Attendees can submit questions, which are only visible to session moderators. Moderators can supply text based responses to the entire audience or only to the person asking the question. </p>
                    </div>
                </div>
                <div class="media-object">
                    <div class="media-object-section">
                        <div class="thumbnail">
                            <img src="./assets/img/icons/Handouts.png">
                        </div>
                    </div>
                    <div class="media-object-section">
                        <p><b>Handouts:</b> Hosts can post documents or links for attendees to download during the broadcast.</p>
                    </div>
                </div>
                <div class="media-object">
                    <div class="media-object-section">
                        <div class="thumbnail">
                            <img src="./assets/img/icons/Restore.png">
                        </div>
                    </div>
                    <div class="media-object-section">
                        <p><b>Restore:</b> If attendees open, close or move panels on their console, the “Restore” widget will allow them to snap all widgets back to their original design (as laid out by the webcast host).</p>
                    </div>
                </div>
            </article>
        </section>
        <section class="overview-section" id="socialwidgets" data-magellan-target="socialwidgets">
            <article>
                <h4>Social Widgets:</h4>
                <div class="media-object">
                    <div class="media-object-section">
                        <div class="thumbnail">
                            <img src="./assets/img/icons/Facebook.png">
                        </div>
                    </div>
                    <div class="media-object-section">
                        <p><b>Facebook:</b> Allow attendees to share the webcast registration page with their network on Facebook and/or allow attendees to “like” a sponsor’s page directly from the webcast.
                        </p>
                    </div>
                </div>
                <div class="media-object">
                    <div class="media-object-section">
                        <div class="thumbnail">
                            <img src="./assets/img/icons/Twitter.png">
                        </div>
                    </div>
                    <div class="media-object-section">
                        <p><b>Twitter:</b> Allow attendees to share the webcast registration page with their network on Twitter and/or allow attendees to tweet to a specific account and/or hashtag during the webcast.
                        </p>
                    </div>
                </div>
                <div class="media-object">
                    <div class="media-object-section">
                        <div class="thumbnail">
                            <img src="./assets/img/icons/LinkedIn.png">
                        </div>
                    </div>
                    <div class="media-object-section">
                        <p><b>LinkedIn:</b> Allow attendees to share the webcast registration page with their network on LinkedIn.</p>
                    </div>
                </div>
                <div class="media-object">
                    <div class="media-object-section">
                        <div class="thumbnail">
                            <img src="./assets/img/icons/GooglePlus.png">
                        </div>
                    </div>
                    <div class="media-object-section">
                        <p><b>Google+:</b> Allow attendees to share the webcast registration page with their network on Google+.</p>
                    </div>
                </div>
                <div class="media-object">
                    <div class="media-object-section">
                        <div class="thumbnail">
                            <img src="./assets/img/icons/Yammer.png">
                        </div>
                    </div>
                    <div class="media-object-section">
                        <p><b>Yammer:</b> Allow attendees to access a specific Yammer group during the webcast.</p>
                    </div>
                </div>
                <div class="media-object">
                    <div class="media-object-section">
                        <div class="thumbnail">
                            <img src="./assets/img/icons/InviteAFriend.png">
                        </div>
                    </div>
                    <div class="media-object-section">
                        <p><b>Invite a Friend:</b> Allow attendees to send, via email, a personalized note and the registration page of the webcast to a single or group of friends/colleagues to encourage additional registration/attendance.</p>
                    </div>
                </div>
                <div class="media-object">
                    <div class="media-object-section">
                        <div class="thumbnail">
                            <img src="./assets/img/icons/EmailSpeaker.png">
                        </div>
                    </div>
                    <div class="media-object-section">
                        <p><b>Email the Speaker(s):</b> Predefine an email address or set of email addresses to allow attendees to email the speaker(s) of the session directly with questions, comments or follow up items.</p>
                    </div>
                </div>
                <div class="media-object">
                    <div class="media-object-section">
                        <div class="thumbnail">
                            <img src="./assets/img/icons/MessageBoard.png">
                        </div>
                    </div>
                    <div class="media-object-section">
                        <p><b>Message Board:</b> Allow attendees and speakers to leave comments about the webcast (such as leaving feedback, questions or other discussion topics). Attendees can comment on as well as like posts from other users.</p>
                    </div>
                </div>
                <div class="media-object">
                    <div class="media-object-section">
                        <div class="thumbnail">
                            <img src="./assets/img/icons/Blog.png">
                        </div>
                    </div>
                    <div class="media-object-section">
                        <p><b>Blog Posts:</b> Allow attendees to create long-form blog posts with, optional, attachments for other attendees view, download and comment on.</p>
                    </div>
                </div>
            </article>
        </section>
        <section class="overview-section" id="marketingbranding" data-magellan-target="marketingbranding">
            <article>
                <h4>Marketing and Branding Widgets:</h4>
                <div class="media-object">
                    <div class="media-object-section">
                        <div class="thumbnail">
                            <img src="./assets/img/icons/Image.png">
                        </div>
                    </div>
                    <div class="media-object-section">
                        <p><b>Images:</b> Add branding images or background files to the session. Images can be linked to third party websites as well.</p>
                    </div>
                </div>
                <div class="media-object">
                    <div class="media-object-section">
                        <div class="thumbnail">
                            <img src="./assets/img/icons/Link.png">
                        </div>
                    </div>
                    <div class="media-object-section">
                        <p><b>Links:</b> Text links can be placed on the console and linked to any third party website.</p>
                    </div>
                </div>
                <div class="media-object">
                    <div class="media-object-section">
                        <div class="thumbnail">
                            <img src="./assets/img/icons/Website.png">
                        </div>
                    </div>
                    <div class="media-object-section">
                        <p><b>Websites:</b> Display a fully interactive website (URL) inside a widget. Attendees can interact with the page without leaving the webcast.</p>
                    </div>
                </div>
                <div class="media-object">
                    <div class="media-object-section">
                        <div class="thumbnail">
                            <img src="./assets/img/icons/HTML.png">
                        </div>
                    </div>
                    <div class="media-object-section">
                        <p><b>Text/HTML:</b> Open form widget that allows for plain text to be added to the console or for custom HTML to be entered. Can be used to embed many third party, web-based, applications.</p>
                    </div>
                </div>
                <div class="media-object">
                    <div class="media-object-section">
                        <div class="thumbnail">
                            <img src="./assets/img/icons/Survey.png">
                        </div>
                    </div>
                    <div class="media-object-section">
                        <p><b>Survey:</b> Surveys can be displayed as a widget on the console to collect feedback from the audience.</p>
                    </div>
                </div>
            </article>
        </section>
        <section class="overview-section" id="webcastdetail" data-magellan-target="webcastdetail">
            <article>
                <h4>Webcast Detail Widgets:</h4>
                <div class="media-object">
                    <div class="media-object-section">
                        <div class="thumbnail">
                            <img src="./assets/img/icons/Abstract.png">
                        </div>
                    </div>
                    <div class="media-object-section">
                        <p><b>Abstract:</b> Display a short description of the webcast.</p>
                    </div>
                </div>
                <div class="media-object">
                    <div class="media-object-section">
                        <div class="thumbnail">
                            <img src="./assets/img/icons/Bio.png">
                        </div>
                    </div>
                    <div class="media-object-section">
                        <p><b>Speaker Bio(s):</b> Display the name, photo and biography of the webcast’s speaker(s).</p>
                    </div>
                </div>
            </article>
            <section class="overview-section" id="testingcertification" data-magellan-target="testingcertification">
                <article>
                    <h4>Testing/Certification Widgets:</h4>
                    <div class="media-object">
                        <div class="media-object-section">
                            <div class="thumbnail">
                                <img src="./assets/img/icons/Test.png">
                            </div>
                        </div>
                        <div class="media-object-section">
                            <p><b>Test:</b> Allow attendees to take a graded test about the webcast topics being presented. Branded certificates can be provided.</p>
                        </div>
                    </div>
                    <div class="media-object">
                        <div class="media-object-section">
                            <div class="thumbnail">
                                <img src="./assets/img/icons/CourseTracker.png">
                            </div>
                        </div>
                        <div class="media-object-section">
                            <p><b>Course Tracker:</b> Set parameters for the session (IE pass tests, watch for a minimum amount of time, answer polls) and allow attendees to see their progress. Once all requirements are met attendees can download a branded
                                certificate.
                            </p>
                        </div>
                    </div>
                </article>
            </section>
            <section class="overview-section" id="inevent" data-magellan-target="inevent">
                <article>
                    <h4>In-Event Widgets:</h4>
                    <div class="callout small warning">
                        <p>These widgets are only available to webcasts being run inside an INXPO virtual event; they are not available for stand-alone webcasting.</p>
                    </div>
                    <div class="media-object">
                        <div class="media-object-section">
                            <div class="thumbnail">
                                <img src="./assets/img/icons/ActivityWall.png">
                            </div>
                        </div>
                        <div class="media-object-section">
                            <p><b>Activity Wall:</b> Displays a feed of activity happening within the virtual event.</p>
                        </div>
                    </div>
                    <div class="media-object">
                        <div class="media-object-section">
                            <div class="thumbnail">
                                <img src="./assets/img/icons/ConnectionWall.png">
                            </div>
                        </div>
                        <div class="media-object-section">
                            <p><b>Connection Wall:</b> Allows the attendee to see the activities their personal connections are taking within the virtual event.</p>
                        </div>
                    </div>
                    <div class="media-object">
                        <div class="media-object-section">
                            <div class="thumbnail">
                                <img src="./assets/img/icons/MarqueeMessage.png">
                            </div>
                        </div>
                        <div class="media-object-section">
                            <p><b>Marquee Messages:</b> Allows the host to display the events marquee messages within the webcast.</p>
                        </div>
                    </div>
                    <div class="media-object">
                        <div class="media-object-section">
                            <div class="thumbnail">
                                <img src="./assets/img/icons/MyAnnouncements.png">
                            </div>
                        </div>
                        <div class="media-object-section">
                            <p><b>My Announcements:</b> Displays a list of all virtual event announcements that have been sent to the attendee.</p>
                        </div>
                    </div>
                    <div class="media-object">
                        <div class="media-object-section">
                            <div class="thumbnail">
                                <img src="./assets/img/icons/WhosHere.png">
                            </div>
                        </div>
                        <div class="media-object-section">
                            <p><b>Who’s Here:</b> Allows attendees to see a list of all online and/or offline attendees for the virtual event. They can start communications (chat, email) or exchange their virtual business cards.</p>
                        </div>
                    </div>
                    <div class="media-object">
                        <div class="media-object-section">
                            <div class="thumbnail">
                                <img src="./assets/img/icons/ResourceCenter.png">
                            </div>
                        </div>
                        <div class="media-object-section">
                            <p><b>Resource Center:</b> Displays a list of the virtual events documents and links available for download.</p>
                        </div>
                    </div>
                    <div class="media-object">
                        <div class="media-object-section">
                            <div class="thumbnail">
                                <img src="./assets/img/icons/Space.png">
                            </div>
                        </div>
                        <div class="media-object-section">
                            <p><b>Sponsor Space:</b> Allows a sponsor space (booth) to be displayed within the webcast. The space is fully interactive including viewing tab information and interacting with space staff.</p>
                        </div>
                    </div>
                </article>
            </section>
    </div>
</div>