<ul class="tabs" data-deep-link="true" data-tabs id="deeplinked-tabs">
    <li class="tabs-title is-active"><a href="#panel1d" aria-selected="true">Telephone</a></li>
    <li class="tabs-title"><a href="#panel2d">USB Microphone</a></li>
    <li class="tabs-title"><a href="#panel3d">Webcam</a></li>
</ul>

<div class="tabs-content" data-tabs-content="deeplinked-tabs">
    <div class="tabs-panel is-active" id="panel1d">
        <p>We recommend using a desktop phone with a handheld receiver to produce the best telephone audio quality. These devices are also the most reliable. This option is ideal for multiple speakers as the change from speaker to speaker is achieved simply
            by speaking. For these reasons, we always recommend using this device.</p>
        <p><b>Speaker Phone</b></p>
        <p>With a standalone speaker phone (excluding those that are part of a video conference system) ALL ambient background sounds (i.e. someone tapping on the table with fingers, typing on a computer, doors opening or closing, even air circulation devices
            etc.) will be heard and magnified through the speaker phone. While speaker phones are convenient for large meetings, the audio quality does suffer exponentially. Clarity may also be impacted depending upon the quality of the device.
        </p>
        <p><b>Cell Phone</b></p>
        <p>Cell phones are a good back up option to the devices mentioned above. One thing to consider however, is that the tiny microphone in a cell phone picks up higher frequency background noises. While speakers may not hear the noises during the live
            call, the recording picks up and records every sound coming into it. Also cell phones have a higher risk of dropped calls and therefore have a lower level of reliability. At one point, you may have a clear connection and then that signal becomes
            loss where the speaker is dropped or the call strength intermittently fades which results in noise or inconsistent speaker volume and/or clarity levels which are recorded as such.</p>

        <p><b>Computer with Headsets</b></p>
        <p>Headsets are a convenient way to communicate via telephone and computer. Being hands free is a benefit, however the audio quality varies depending on the type of headset. Wired headsets, which offer a direct connection, will always provide better
            quality than wireless or Bluetooth.</p>
        <p><b>Things to Remember</b></p>
        <p>Know How to Mute: When it is not a particular speaker’s turn to be on air, they should be able to mute the phone to minimize background noise on the recording Speak Slowly: When recording speak slower than normally. Try not to interrupt other
            parties speaking and avoid voice overlaps. Speaking slowly and clearly with enough pauses to let the other person speak helps ensure that the recording is crisp and clear. Keep Still: It is advisable not to move around unnecessarily during
            a recording. Even small sounds like the microphone rubbing against the collar of a shirt, rustling papers etc., can cause interferences in the telephone recording. Moving will also cause the speaker's voice volume to fluctuate as they move
            farther from and closer to the microphone.</p>
    </div>
    <div class="tabs-panel" id="panel2d">
        <p>USB microphones provide good quality audio for recording purposes. If using this device, our recommendation is to use a wired external USB microphone and not a Bluetooth Wireless microphone.</p>
        <p>When facilitating presentations with multiple speakers on USB microphones, more logistics and preparation around conversation and program flow are required for the recording or live day. This option also requires ALL speakers use a USB microphone.
        </p>
        <p>In addition, computer microphones are completely reliant upon the speaker’s internet connection, the quality of the inbuilt microphone and the number of other applications running on the individual speaker’s computer which pulls resources. One
            of the challenges with computer microphones is that they clip the high and low end of the voice signal which can result in broken words and hissing and click sounds appearing in the recording.</p>

        <p>It is critical that the audience is able to hear speakers clearly and loudly throughout the presentation. This is best done by setting up and testing the microphone in advance of the live session, from the location the speaker will be using for
            the live event.</p>

        <p><b>Use an External Microphone</b>: The microphones built in to computers/cameras often do not have the audio quality desired for a professional presentation. An external microphone will be better quality and allow speakers to place it in an optimal
            location for best sound.</p>

        <p><b>Configure the Audio Levels</b>: Use the XPOCAST tools as well as individual computer tools to configure the audio volume. Make sure that the volume is loud enough to be heard but doesn’t have any background noise, static, etc.</p>

        <p><b>Limit Interference</b>: Things like cell phones, computer fans, a room fan or other things may create interference on the microphone. As a best practice turn off (not just silence) cell phones, mute computer speakers, turn off room fans and
            make sure that the computer fan isn’t so loud to create noise.</p>

        <p><b>Good Placement</b>: The microphone should be close to the speaker’s mouth but not so close that “p’s” pop or certain words go “too hot” and blast the audience. Speakers should also set microphones out of the camera view.</p>

        <p>Don’t Touch the Microphone While Live: Get the placement setup before live and then leave it alone. Adjusting/moving the microphone while live is VERY loud and will be disruptive to both the audience and the on demand recording.</p>
    </div>
    <div class="tabs-panel" id="panel3d">
        <p>When you begin to plan for your webcast presentation it is important to keep in mind the technical requirements, location and types of content necessary to create an engaging webcast. Following these best practices for delivering a webcast will
            help you create a high quality audio and video webcast with a webcam that will be sure to keep your audiences’ attention.</p>
        <ul>
            <li><b>KEY LIGHT</b>: The main light used to illuminate you.</li>
            <li><b>FILL LIGHT</b>: The secondary light that fills shadows—usually half the intensity of the Key</li>
            <li><b>BACK LIGHT</b>: The light that shines behind adding a rim of light to the speakers head.</li>
            <li><b>Use natural light when possible.</b>: the natural light in the room you can adjust the total look with overhead and additional lights as needed.</li>
            <li><b>Keep windows in front of you.</b>: open window behind the speaker can make them look dark, with the window in front of the speaker you can use the natural light to illuminate their face—adjusting blinds as needed.</li>
            <li><b>Be familiar with the webcam</b>: Knowing how to access the webcam software will help the speaker or engineer to adjust the webcam for the best possible picture.</li>
            <li><b>Have proper placementof the webcam</b>: Use the rule of thirds to align the speaker in the webcams image in the center</li>
            <li><b>Make sure the camera is placed at eye level</b>: This will ensure the speaker is looking directly at the audience. You can adjust the camera height or the chair the speaker is in to achieve this.</li>
            <li><b>Avoid distracting backgrounds</b>: Once you set up your lighting and equipment make sure to check your surroundings especially behind you to make sure there are no distracting colors or movement.</li>
            <li><b>Use external microphones whenever available</b>: Microphones built into computers and cameras often have lower quality than what you want for a webcast presentation. The mobility of an external microphone allows the speaker to place it
                in the optimal location for sound.</li>
            <li><b>Check for good audio placement</b>: The microphone should be close to the speaker’s mouth but no so close to pick up popping “p’s” or certain words hit the top of the audio levels. The microphone should not be in the camera view.</li>
            <li><b>Test audio levels</b>: Make sure the volume is loud enough to hear but doesn’t pick up background noise or static.</li>
            <li><b>Don’t touch the microphone while live</b>: Adjusting or moving the microphone while live will make loud noises and can disrupt the audience and the on demand recording.</li>
            <li><b>Limit interference as much as possible</b>: Turn off cell phones, fans, computer speakers, or anything else that may be a distraction during the webcast.
            </li>
        </ul>
    </div>
</div>

<article>

</article>
<article>

</article>
<article>

</article>