<div class="callout secondary" id="audiobest" data-magellan-target="audiobest">
    <div class="row">
        <div class="large-12 columns">
            <h3 class="title">Best Practices</h3>
            <p>When delivering a webcast you can use a variety of devices.</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <section class="engagingcontent-section">
            <article>
                <div class="responsive-embed widescreen">
                    <iframe width="100%" height="686" src="https://www.youtube.com/embed/2xPO1qzom04" frameborder="0" allowfullscreen></iframe>
                </div>
            </article>
            <article>
                <h4>Telephone</h4>
                <p>We recommend using a desktop phone with a handheld receiver to produce the best telephone audio quality. These devices are also the most reliable. This option is ideal for multiple speakers as the change from speaker to speaker is achieved
                    simply by speaking. For these reasons, we always recommend using this device.</p>
                <p><b>Speaker Phone</b></p>
                <p>With a standalone speaker phone (excluding those that are part of a video conference system) ALL ambient background sounds (i.e. someone tapping on the table with fingers, typing on a computer, doors opening or closing, even air circulation
                    devices etc.) will be heard and magnified through the speaker phone. While speaker phones are convenient for large meetings, the audio quality does suffer exponentially. Clarity may also be impacted depending upon the quality of the
                    device.
                </p>
                <p><b>Cell Phone</b></p>
                <p>Cell phones are a good back up option to the devices mentioned above. One thing to consider however, is that the tiny microphone in a cell phone picks up higher frequency background noises. While speakers may not hear the noises during
                    the live call, the recording picks up and records every sound coming into it. Also cell phones have a higher risk of dropped calls and therefore have a lower level of reliability. At one point, you may have a clear connection and then
                    that signal becomes loss where the speaker is dropped or the call strength intermittently fades which results in noise or inconsistent speaker volume and/or clarity levels which are recorded as such.</p>

                <p><b>Computer with Headsets</b></p>
                <p>Headsets are a convenient way to communicate via telephone and computer. Being hands free is a benefit, however the audio quality varies depending on the type of headset. Wired headsets, which offer a direct connection, will always provide
                    better quality than wireless or Bluetooth.</p>
                <p><b>Things to Remember</b></p>
                <p>Know How to Mute: When it is not a particular speaker’s turn to be on air, they should be able to mute the phone to minimize background noise on the recording Speak Slowly: When recording speak slower than normally. Try not to interrupt
                    other parties speaking and avoid voice overlaps. Speaking slowly and clearly with enough pauses to let the other person speak helps ensure that the recording is crisp and clear. Keep Still: It is advisable not to move around unnecessarily
                    during a recording. Even small sounds like the microphone rubbing against the collar of a shirt, rustling papers etc., can cause interferences in the telephone recording. Moving will also cause the speaker's voice volume to fluctuate
                    as they move farther from and closer to the microphone.</p>
            </article>
            <article>
                <h4>USB Microphone</h4>
                <p>USB microphones provide good quality audio for recording purposes. If using this device, our recommendation is to use a wired external USB microphone and not a Bluetooth Wireless microphone.</p>
                <p>When facilitating presentations with multiple speakers on USB microphones, more logistics and preparation around conversation and program flow are required for the recording or live day. This option also requires ALL speakers use a USB
                    microphone.
                </p>
                <p>In addition, computer microphones are completely reliant upon the speaker’s internet connection, the quality of the inbuilt microphone and the number of other applications running on the individual speaker’s computer which pulls resources.
                    One of the challenges with computer microphones is that they clip the high and low end of the voice signal which can result in broken words and hissing and click sounds appearing in the recording.</p>

                <p>It is critical that the audience is able to hear speakers clearly and loudly throughout the presentation. This is best done by setting up and testing the microphone in advance of the live session, from the location the speaker will be
                    using for the live event.</p>

                <p><b>Use an External Microphone</b>: The microphones built in to computers/cameras often do not have the audio quality desired for a professional presentation. An external microphone will be better quality and allow speakers to place it
                    in an optimal location for best sound.</p>

                <p><b>Configure the Audio Levels</b>: Use the XPOCAST tools as well as individual computer tools to configure the audio volume. Make sure that the volume is loud enough to be heard but doesn’t have any background noise, static, etc.</p>

                <p><b>Limit Interference</b>: Things like cell phones, computer fans, a room fan or other things may create interference on the microphone. As a best practice turn off (not just silence) cell phones, mute computer speakers, turn off room
                    fans and make sure that the computer fan isn’t so loud to create noise.</p>

                <p><b>Good Placement</b>: The microphone should be close to the speaker’s mouth but not so close that “p’s” pop or certain words go “too hot” and blast the audience. Speakers should also set microphones out of the camera view.</p>

                <p>Don’t Touch the Microphone While Live: Get the placement setup before live and then leave it alone. Adjusting/moving the microphone while live is VERY loud and will be disruptive to both the audience and the on demand recording.</p>
            </article>
            <article>
                <h4>Webcam</h4>
                <p>When you begin to plan for your webcast presentation it is important to keep in mind the technical requirements, location and types of content necessary to create an engaging webcast. Following these best practices for delivering a webcast
                    will help you create a high quality audio and video webcast with a webcam that will be sure to keep your audiences’ attention.</p>
                <p>Use a three-point lighting strategy:</p>
                <ul>
                    <li><b>KEY LIGHT</b>: The main light used to illuminate you.</li>
                    <li><b>FILL LIGHT</b>: The secondary light that fills shadows—usually half the intensity of the Key</li>
                    <li><b>BACK LIGHT</b>: The light that shines behind adding a rim of light to the speakers head.</li>
                </ul>
                <p>Use natural light when possible.</p>
                <ul>
                    <li>Using the natural light in the room you can adjust the total look with overhead and additional lights as needed.</li>
                </ul>
                <p>Keep windows in front of you.</p>
                <ul>
                    <li>An open window behind the speaker can make them look dark, with the window in front of the speaker you can use the natural light to illuminate their face—adjusting blinds as needed.</li>
                </ul>
            </article>
        </section>
    </div>
</div>