<div class="right-container">
    <div class="callout secondary" id="overview" data-magellan-target="overview">
        <div class="row">
            <h3 class="title">Overview</h3>
            <p>XPOCAST is INXPO’s webcasting software that allows clients to deliver live, simulive or on demand webcasts using telephony, webcam/microphone or live video streaming. Each session uses one of the delivery options and one of the format options
                listed below. They can include slides, polling questions, video clips, desktop sharing, handouts, group chat, Q&amp;A and many other features.</p>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <section class="overview-section">
                <article>
                    <h4>Webcast Delivery Options:</h4>
                    <img class="img-responsive" src="https://presentations.inxpo.com/SharedContent/HTML/xpocast-speaker-guide/images/XpocastScreen.png" alt="Xpocast Screen" align="right">
                    <ul>
                        <li>
                            <p><b>Live Webcast: </b>Speakers present all materials on the live event day to a virtual audience.</p>
                        </li>
                        <li>
                            <p><b>Simulive Webcast: </b>Speakers record the presentation in advance of the live day. The presentation is then played back on the live day to the virtual audience in an imitation of a live webcast.</p>
                        </li>
                        <li>
                            <p><b>Simulive with Live Q&amp;A Webcast: </b>Speakers record the presentation in advance of the live day. The presentation is then played back on the live day to the virtual audience in an imitation of a live webcast. At the
                                end of the pre-recorded media the speakers can continue the presentation with Live Q&amp;A with the virtual audience.</p>
                        </li>
                        <li>
                            <p><b>On Demand Webcasts: </b>Speakers record the presentation in advance of the live day. The presentation is then played back on the live day to the virtual audience.</p>
                        </li>
                    </ul>
                </article>
                <article>
                    <h4>Webcast Format Options:</h4>
                    <ul>
                        <li>
                            <p><b>Telephony: </b>All speakers dial into a conference bridge which is broadcast to the audience. With telephony webcasts, there is no video component to see the speakers while they speak.</p>
                        </li>
                        <li>
                            <p><b>Webcam/Microphone: </b>Each speaker connects a webcam and microphone to their computer to present their video and audio to the audience. One speaker is seen/heard on screen at a time. Control is passed from one speaker to
                                the next using a single click “Pass the Mic” function.</p>
                        </li>
                        <li>
                            <p><b>Video Crew/Live Streaming: </b>This style of webcast is typically done from a studio or live event where a filming crew has been brought in to record and live stream the audio/video in to XPOCAST.</p>
                        </li>
                    </ul>
                </article>
            </section>
        </div>
    </div>
    <div class="callout secondary" id="technicalrequirements" data-magellan-target="technicalrequirements">
        <div class="row">
            <h3 class="title">Technical Requirements, System Checks and Network Preparation</h3>
            <p>A strong internet connection and a computer that meets the required specifications for delivery will be important to ensuring a successful webcast.</p>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <section class="techreq-section">
                <article>
                    <h4>Speaker Computer Requirements:</h4>
                    <ul>
                        <li>
                            <p>Each computer that is logging in to the XPOCAST Presenter Portal as either speaker or support staffer should meet the following requirements to ensure proper connectivity to the XPOCAST system.</p>
                        </li>
                        <li>
                            <p><b>Have a Hard Wired Internet Connection: </b>Turn off wireless access on the computer to ensure the computer is using the hardwired connection.</p>
                        </li>
                        <li>
                            <p><b>Pass the System Check: </b>Speakers must pass on each item in the system check to properly present: https://vts.inxpo.com/Launch/Event.htm?</p>
                        </li>
                    </ul>
                </article>
                <article>
                    <h4>Network Requirements:</h4>
                    <ul>
                        <li>
                            <p>When giving a webcast, particularly a video webcast, it is important to ensure the speaker’s network is able to handle streaming to the internet and will not impede the delivery or cause an issue for the speaker and/or the
                                audience.
                            </p>
                        </li>
                        <li>
                            <p>Speakers should confirm that their presentation location has enough available bandwidth for an XPOCAST presentation in advance of the dry run. A minimum of 600 KBPS “up” is recommended for delivering a presentation.</p>
                        </li>
                    </ul>
                    <p>To calculate available bandwidth:</p>
                    <ol>
                        <li>Go to the speed test and start the test (select Chicago)</li>
                        <li>Take the “Upload Speed” result (given in MBPS)</li>
                        <li>Access a MBPS to KBPS converter (i.e. Check Your Math) and enter your MBPS number and convert to KBPS</li>
                    </ol>
                    <p>In addition users should pass on each of the Port Tests.</p>
                </article>
                <article>
                    <h4>Tips and Tricks For Delivery:</h4>
                    <p>When planning to present using XPOCAST it is recommended that each speaker:</p>
                    <ul>
                        <li>Test their system as soon as they sign on to speak</li>
                        <li>Determine their delivery location and test the network at least 48 hours before the dry run</li>
                        <li>Participate in a dry run of the webcast to ensure connectivity with their engineer</li>
                        <li>Always use the same location/equipment used for testing on the live day</li>
                    </ul>
                </article>
            </section>
        </div>
    </div>
    <div class="callout secondary" id="engagingcontent" data-magellan-target="engagingcontent">
        <div class="row">
            <h3 class="title">How to Create Engaging Online Content in XPOCAST</h3>
            <p>When delivering content online, it’s important to not only understand the options available but also how to utilize and deliver them in a way that engages the audience. Speakers must create moments for interaction and feedback from the audience.
                This is done by varying what is shown on screen and asking the audience for feedback during the presentation through Q&amp;A, group chat or polling questions.</p>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <section class="engagingcontent-section">
                <article>
                    <h4>Slide Content Options:</h4>
                    <ul>
                        <li>
                            <p><b>PowerPoint Files: </b>Use short bullet points and imagery instead of text-heavy slides. Users attending on mobile devices will have difficulty reading small text so more imagery and succinct will be a better experience for
                                everyone.
                            </p>
                        </li>
                        <li>
                            <p><b>Polling Questions: </b>Create questions with single or multiple response options to gather information about the audience. The feedback gathered from polls can be used to shape the direction of the webcast, gauge understanding
                                and/or collect additional demographic information.</p>
                        </li>
                        <img class="img-responsive" src="https://presentations.inxpo.com/SharedContent/HTML/xpocast-speaker-guide/images/SlideContent.png" alt="Slide Content" align="right">
                        <li>
                            <p><b>Desktop Sharing: </b>Show don’t tell with the desktop sharing tools. If the speaker is discussing a new product, website or program, using desktop sharing to demonstrate the topic is a powerful knowledge delivery tool.</p>
                        </li>
                        <li>
                            <p><b>On Demand Webcasts: </b>Speakers record the presentation in advance of the live day. The presentation is then played back on the live day to the virtual audience.</p>
                        </li>
                        <li>
                            <p><b>Video Clips: </b>No matter the style of webcast, short video clips can be used to show pre‐recorded content such as commercials, demonstrations or messages from other presenters. Use of video clips (typically five minutes
                                or less) provides additional visual interest, breaks up the voices being heard and draws viewer attention. During video clip playback, speakers can participate in the group chat and/or review questions to keep the interactivity
                                going.
                            </p>
                        </li>
                        <li>
                            <p><b>Testing and Certification: </b>During the webcast, speakers can post quizzes to test the audience’s knowledge and retention of the information being delivered. If the speaker chooses, speakers can automatically receive certificates
                                for passing scores. To gauge knowledge and understanding some speakers will post a test at the beginning during the introductions and then again at the end to compare/contrast scores.</p>
                        </li>
                        <li>
                            <p><b>Video Crew/Live Streaming: </b>This style of webcast is typically done from a studio or live event where a filming crew has been brought in to record and live stream the audio/video in to XPOCAST.</p>
                        </li>
                    </ul>
                </article>
                <article>
                    <h4>Console Widget Options:</h4>
                    <ul>
                        <img class="img-responsive" src="https://presentations.inxpo.com/SharedContent/HTML/xpocast-speaker-guide/images/ConsolWidget.png" alt="Consol Widget" align="right">
                        <li>
                            <p><b>Group Chat: </b>The group chat is an open forum for attendees to post comments throughout the webcast. Speakers can effectively utilize this by asking open ended questions and encouraging responses in the chat. Speakers
                                don’t need to be constantly keeping an eye on the chat but taking chat room breaks to see what the audience is saying and engage with them makes the audience feel more connected and can help shape a presentation to be most
                                useful for the audience.
                            </p>
                        </li>
                        <li>
                            <p><b>Q&amp;A: </b>Throughout the presentation the audience will be able to submit questions which can be prioritized and reviewed by speakers/moderators. Speakers should build in Q&amp;A breaks to the presentation to address
                                audience questions throughout and break up the content. Speakers can also plant seed questions if the audience is slow to type in their own queries.</p>
                        </li>
                        <li>
                            <p><b>Handouts: </b>Provide documents and links for attendees to download as presentation take-aways. Often speakers will include copies of the PowerPoint deck or links to additional resources so the audience can continue to interact
                                with the speakers, hosts or content.</p>
                        </li>
                    </ul>
                </article>
                <article>
                    <h4>Exit Action Options:</h4>
                    <ul>
                        <li>
                            <p><b>Survey: </b>After the webcast redirect users to a survey where they can provide feedback about the webcast, the content and the speaker(s)</p>
                        </li>
                        <li>
                            <p><b>Webpage: </b>To tie in branding or specific concepts users can be redirected to a webpage following the webcast.</p>
                        </li>
                        <li>
                            <p><b>Testing and Certification: </b>Users can be redirected to a testing/certification slide following the webcast where they can be graded on the information they were just presented.</p>
                        </li>
                    </ul>
                </article>
            </section>
        </div>
    </div>
    <div class="callout secondary" id="engagingpresenter" data-magellan-target="engagingpresenter">
        <div class="row">
            <h3 class="title">Being an Engaging Online Presenter</h3>
            <p>Being a dynamic online presenter takes practice. Connecting with a remote audience is challenging; the speaker must understand the technology, have solid network/computer setup and remain upbeat throughout the session.</p>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <section class="engagingpresenter-section">
                <article>
                    <h4>Tips for Success:</h4>
                    <ul>
                        <img class="img-responsive" src="https://presentations.inxpo.com/SharedContent/HTML/xpocast-speaker-guide/images/EngagingPresenter.png" alt="Engaging Presenter" align="right">
                        <li>
                            <p><b>Learn the Content:</b> Knowing the content allows a speaker to focus on presenting and not trying to remember what they were going to say. If a presenter fears forgetting what points to make, include notes in the PowerPoint
                                file; the XPOCAST system will display the notes for the presentation to see on screen.</p>
                        </li>
                        <li>
                            <p><b>Practice: </b>Speakers should not only practice their content but practice delivering it to their computer as this can be very awkward the first few times. If speakers are not comfortable delivering alone to their computer,
                                they can ask colleagues to sit in front of them so they can present to familiar faces instead of the computer screen.</p>
                        </li>
                        <li>
                            <p><b>Learn the Software: </b>Make sure speakers understand and utilize the content options that are available to them so they can properly prepare the presentation. In addition, make sure each speaker understands how to change
                                slides in XPOAST, manage Q&amp;A, chats, polls, etc. before the live day.</p>
                        </li>
                        <li>
                            <p><b>Speak Up: </b>Make sure to keep a clear, loud, even tone throughout the session so that the audience is able to consistently hear everything without adjusting their volume.</p>
                        </li>
                        <li>
                            <p><b>Look at Your Camera: </b>If presenting via video, remember, the webcam is the audience. Make eye content with it so the audience feels like you are speaking directly to them.</p>
                        </li>
                        <li>
                            <p><b>Have Multiple Speakers: </b>Additional speakers break up the voices and provide a more conversational feel. It can also make speakers feel more at ease as they are not “alone”.</p>
                        </li>
                        <li>
                            <p><b>Don’t Be Afraid to Mess Up: </b>Flubs happen and it’s okay. Just keep going, the audience is forgiving.</p>
                        </li>
                        <li>
                            <p><b>Be Prepared: </b>Have a glass of water ready as well as a printout of the slides/notes in case you need them. Also, make sure to follow the XPOCAST quick tips for presenting.</p>
                        </li>
                    </ul>
                </article>
            </section>
        </div>
    </div>
    <div class="callout secondary" id="videospecifications" data-magellan-target="videospecifications">
        <div class="row">
            <h3 class="title">Video Specifications</h3>
            <p>This document reviews the specifications for video files. The below specifications are recommendations for the best user experience. If for some reason you find that you need to deviate from the recommended specifications, please contact your
                INXPO project manager or if self-service, contact the INXPO Solutions team at vxhelp@inxpo.com.</p>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <section class="overview-section">
                <article>
                    <!--<h4>Video Specifications</h4>-->
                    <h6>Video Specifications:</h6>
                    <ul>
                        <li>
                            <p><b>Video Dimensions: </b>800px x 450px</p>
                        </li>
                        <li>
                            <p><b>Video Bitrate: </b>650Kbps to 750Kbps</p>
                        </li>
                        <li>
                            <p><b>Video File Type: </b>MP4</p>
                        </li>
                        <li>
                            <p><b>Video Codec: </b>H.264</p>
                        </li>
                        <li>
                            <p><b>Video FPS: </b>29.97</p>
                        </li>
                        <li>
                            <p><b>Audio Bitrate: </b>96Kbps</p>
                        </li>
                        <li>
                            <p><b>Audio Specifications: </b>44000Hz, Mono</p>
                        </li>
                        <li>
                            <p><b>Audio Codec: </b>MP3 or AAC</p>
                        </li>
                    </ul>
                    <h6>Video Application:</h6>
                    <ul>
                        <li>
                            <p>There are many ways to incorporate video into your online event. The specifications above can be used across the INXPO platform.</p>
                        </li>
                    </ul>
                    <h6>Online Events:</h6>
                    <ul>
                        <li>
                            <p>Welcome video - A great way to introduce your virtual environment to attendees</p>
                        </li>
                        <li>
                            <p>Booth videos: A nice way to tell your company story inside of your sponsor booth Webcasting</p>
                        </li>
                    </ul>
                    <h6>Webcasting</h6>
                    <ul>
                        <li>Video can be your main webcast media</li>
                        <li>Video slides are a great way to break up your presentation content</li>
                    </ul>
                    <h6>Video Considerations</h6>
                    <p>When using video slides during webcam or FME webcasts, viewers will stream the combined bit rate of the main XPOCAST media and the video slide. Please be sure to specify the FPS when submitting videos. When submitting multiple videos,
                        please make sure the specs are consistent across all files.</p>
                    <p>Please Note: It is strongly recommended that sessions primarily targeting the APAC region use a bitrate of 450 Kbps or lower. For webcasts including video, you will need a minimum Internet connection of 450Kbps. INXPO recommends a
                        connection of 750Kbps or higher.</p>
                    <p>For additional computer tips click <a href="https://presentations.inxpo.com/SharedContent/HTML/VX/ComputerTips.htm">here</a></p>
                </article>
            </section>
        </div>
    </div>
</div>