<div data-sticky-container>
    <div class="title-bar" data-sticky data-options="marginTop:0;" style="width:100%">
        <div class="title-bar-left horizontal-menu">
            <ul class="menu dropdown" data-dropdown-menu>
                <li style="width: 250px;">
                    <a href="#" style="padding-top: .5rem;">
                        <img style="float: left;" src="https://www.inxpo.com/assets/images/inxpo-logo.png" alt="" />
                    </a>
                </li>
                <li><a href="./index.html">XPOCAST<sup>&reg;</sup> Guide</a></li>
                <li class="active"><a href="./widget.html">Widget Guide</a>
                    <ul class="dropdown menu" data-dropdown-menu>
                        <li><a href="https://content.inxpo.com/customvts/Resources/PanelIcons/PanelIconList/PanelIconList.htm" target="_blank">All Icons</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>