<div id="vert" data-sticky-container>
    <div class="title-bar" data-sticky data-options="marginTop:0;" style="width:100%">
        <div class="title-bar-left horizontal-menu">
            <ul class="menu">
                <li class="left" style="width: 250px;">
                    <a href="#"><img src="https://presentations.inxpo.com/SharedContent/HTML/file-size-guide/xpocast/assets/images/inxpo-logo.png" alt=""></a>
                </li>
                <li class="active"><a href="./index.html">XPOCAST<sup>&reg;</sup> Speaker Guide</a></li>
                <!--<li><a href="./file-guide.html">XPOCAST<sup>&reg;</sup> File Size Guide</a></li>-->
                <li><a href="#">Widget Guide</a></li>
            </ul>
        </div>
    </div>
</div>