<div class="callout secondary" id="engagingpresenter" data-magellan-target="engagingpresenter">
    <div class="row">
        <div class="large-12 columns">
            <h3 class="title">Being an Engaging Online Presenter</h3>
            <p>Being a dynamic online presenter takes practice. Connecting with a remote audience is challenging; the speaker must understand the technology, have solid network/computer setup and remain upbeat throughout the session.</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <section class="engagingpresenter-section">
            <article>
                <h4>Tips for Success:</h4>
                <ul>
                    <img class="img-responsive" src="https://presentations.inxpo.com/SharedContent/HTML/xpocast-speaker-guide/images/EngagingPresenter.png" alt="Engaging Presenter" align="right">
                    <li>
                        <p><b>Learn the Content:</b> Knowing the content allows a speaker to focus on presenting and not trying to remember what they were going to say. If a presenter fears forgetting what points to make, include notes in the PowerPoint
                            file; the XPOCAST system will display the notes for the presentation to see on screen.</p>
                    </li>
                    <li>
                        <p><b>Practice: </b>Speakers should not only practice their content but practice delivering it to their computer as this can be very awkward the first few times. If speakers are not comfortable delivering alone to their computer,
                            they can ask colleagues to sit in front of them so they can present to familiar faces instead of the computer screen.</p>
                    </li>
                    <li>
                        <p><b>Learn the Software: </b>Make sure speakers understand and utilize the content options that are available to them so they can properly prepare the presentation. In addition, make sure each speaker understands how to change slides
                            in XPOAST, manage Q&amp;A, chats, polls, etc. before the live day.</p>
                    </li>
                    <li>
                        <p><b>Speak Up: </b>Make sure to keep a clear, loud, even tone throughout the session so that the audience is able to consistently hear everything without adjusting their volume.</p>
                    </li>
                    <li>
                        <p><b>Look at Your Camera: </b>If presenting via video, remember, the webcam is the audience. Make eye content with it so the audience feels like you are speaking directly to them.</p>
                    </li>
                    <li>
                        <p><b>Have Multiple Speakers: </b>Additional speakers break up the voices and provide a more conversational feel. It can also make speakers feel more at ease as they are not “alone”.</p>
                    </li>
                    <li>
                        <p><b>Don’t Be Afraid to Mess Up: </b>Flubs happen and it’s okay. Just keep going, the audience is forgiving.</p>
                    </li>
                    <li>
                        <p><b>Be Prepared: </b>Have a glass of water ready as well as a printout of the slides/notes in case you need them. Also, make sure to follow the XPOCAST quick tips for presenting.</p>
                    </li>
                </ul>
            </article>
        </section>
    </div>
</div>