<div class="callout secondary" id="overview" data-magellan-target="overview">
    <div class="row">
        <div class="large-12 columns">
            <h3 class="title">Overview</h3>
            <p>XPOCAST is INXPO’s webcasting software that allows clients to deliver live, simulive or on demand webcasts using telephony, webcam/microphone or live video streaming. Each session uses one of the delivery options and one of the format options
                listed below. They can include slides, polling questions, video clips, desktop sharing, handouts, group chat, Q&amp;A and many other features.</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <section class="overview-section">
            <div class="responsive-embed widescreen">
                <iframe width="100%" height="686" src="https://www.youtube.com/embed/2xPO1qzom04" frameborder="0" allowfullscreen></iframe>
            </div>
        </section>
    </div>
</div>