<div class="callout secondary" id="overview" data-magellan-target="overview">
    <div class="row">
        <h3 class="title">Overview</h3>
        <p>XPOCAST is INXPO’s webcasting software that allows clients to deliver live, simulive or on demand webcasts using telephony, webcam/microphone or live video streaming. Each session uses one of the delivery options and one of the format options
            listed below. They can include slides, polling questions, video clips, desktop sharing, handouts, group chat, Q&amp;A and many other features.</p>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <section class="overview-section">
            <article>
                <h4>Webcast Delivery Options:</h4>
                <img class="img-responsive" src="https://presentations.inxpo.com/SharedContent/HTML/xpocast-speaker-guide/images/XpocastScreen.png" alt="Xpocast Screen" align="right">
                <ul>
                    <li>
                        <p><b>Live Webcast: </b>Speakers present all materials on the live event day to a virtual audience.</p>
                    </li>
                    <li>
                        <p><b>Simulive Webcast: </b>Speakers record the presentation in advance of the live day. The presentation is then played back on the live day to the virtual audience in an imitation of a live webcast.</p>
                    </li>
                    <li>
                        <p><b>Simulive with Live Q&amp;A Webcast: </b>Speakers record the presentation in advance of the live day. The presentation is then played back on the live day to the virtual audience in an imitation of a live webcast. At the end
                            of the pre-recorded media the speakers can continue the presentation with Live Q&amp;A with the virtual audience.</p>
                    </li>
                    <li>
                        <p><b>On Demand Webcasts: </b>Speakers record the presentation in advance of the live day. The presentation is then played back on the live day to the virtual audience.</p>
                    </li>
                </ul>
            </article>
            <article>
                <h4>Webcast Format Options:</h4>
                <ul>
                    <li>
                        <p><b>Telephony: </b>All speakers dial into a conference bridge which is broadcast to the audience. With telephony webcasts, there is no video component to see the speakers while they speak.</p>
                    </li>
                    <li>
                        <p><b>Webcam/Microphone: </b>Each speaker connects a webcam and microphone to their computer to present their video and audio to the audience. One speaker is seen/heard on screen at a time. Control is passed from one speaker to the
                            next using a single click “Pass the Mic” function.</p>
                    </li>
                    <li>
                        <p><b>Video Crew/Live Streaming: </b>This style of webcast is typically done from a studio or live event where a filming crew has been brought in to record and live stream the audio/video in to XPOCAST.</p>
                    </li>
                </ul>
            </article>
        </section>
    </div>
</div>