<div class="callout secondary" id="engagingcontent" data-magellan-target="engagingcontent">
  <div class="row">
    <div class="large-12 columns">
      <h3 class="title">How to Create Engaging Online Content in XPOCAST</h3>
      <p>When delivering content online, it’s important to not only understand the options available but also how to utilize and deliver them in a way that engages the audience. Speakers must create moments for interaction and feedback from the audience.
        This is done by varying what is shown on screen and asking the audience for feedback during the presentation through Q&amp;A, group chat or polling questions.</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <section class="engagingcontent-section">
      <article>
        <h4>Slide Content Options:</h4>
        <ul>
          <li>
            <p><b>PowerPoint Files: </b>Use short bullet points and imagery instead of text-heavy slides. Users attending on mobile devices will have difficulty reading small text so more imagery and succinct will be a better experience for everyone.
            </p>
          </li>
          <li>
            <p><b>Polling Questions: </b>Create questions with single or multiple response options to gather information about the audience. The feedback gathered from polls can be used to shape the direction of the webcast, gauge understanding and/or collect
              additional demographic information.</p>
          </li>
          <!--<img class="img-responsive" src="" alt="Slide Content" align="right">-->
          <li>
            <p><b>Desktop Sharing: </b>Show don’t tell with the desktop sharing tools. If the speaker is discussing a new product, website or program, using desktop sharing to demonstrate the topic is a powerful knowledge delivery tool.</p>
          </li>
          <li>
            <p><b>On Demand Webcasts: </b>Speakers record the presentation in advance of the live day. The presentation is then played back on the live day to the virtual audience.</p>
          </li>
          <li>
            <p><b>Video Clips: </b>No matter the style of webcast, short video clips can be used to show pre‐recorded content such as commercials, demonstrations or messages from other presenters. Use of video clips (typically five minutes or less) provides
              additional visual interest, breaks up the voices being heard and draws viewer attention. During video clip playback, speakers can participate in the group chat and/or review questions to keep the interactivity going.
            </p>
          </li>
          <li>
            <p><b>Testing and Certification: </b>During the webcast, speakers can post quizzes to test the audience’s knowledge and retention of the information being delivered. If the speaker chooses, speakers can automatically receive certificates for
              passing scores. To gauge knowledge and understanding, some speakers will post a test at the beginning during the introductions and then again at the end to compare/contrast scores.</p>
          </li>
          <li>
            <p><b>Video Crew/Live Streaming: </b>This style of webcast is typically done from a studio or live event where a filming crew has been brought in to record and live stream the audio/video in to XPOCAST.</p>
          </li>
        </ul>
      </article>
      <article>
        <h4>Console Widget Options:</h4>
        <ul>
          <img class="img-responsive show-for-medium" src="https://presentations.inxpo.com/SharedContent/HTML/xpocast-speaker-guide/images/ConsolWidget.png" alt="Consol Widget" align="right">
          <li>
            <p><b>Group Chat: </b>The group chat is an open forum for attendees to post comments throughout the webcast. Speakers can effectively utilize this by asking open ended questions and encouraging responses in the chat. Speakers don’t need to be
              constantly keeping an eye on the chat but taking chat room breaks to see what the audience is saying and engage with them makes the audience feel more connected and can help shape a presentation to be most useful for the audience.
            </p>
          </li>
          <li>
            <p><b>Q&amp;A: </b>Throughout the presentation the audience will be able to submit questions which can be prioritized and reviewed by speakers/moderators. Speakers should build in Q&amp;A breaks to the presentation to address audience questions
              throughout and break up the content. Speakers can also plant seed questions if the audience is slow to type in their own queries.</p>
          </li>
          <li>
            <p><b>Handouts: </b>Provide documents and links for attendees to download as presentation take-aways. Often speakers will include copies of the PowerPoint deck or links to additional resources so the audience can continue to interact with the
              speakers, hosts or content.</p>
          </li>
        </ul>
      </article>
      <article>
        <h4>Exit Action Options:</h4>
        <ul>
          <li>
            <p><b>Survey: </b>After the webcast, redirect users to a survey where they can provide feedback about the webcast, the content and the speaker(s)</p>
          </li>
          <li>
            <p><b>Webpage: </b>To tie in branding or specific concepts users can be redirected to a webpage following the webcast.</p>
          </li>
          <li>
            <p><b>Testing and Certification: </b>Users can be redirected to a testing/certification slide following the webcast where they can be graded on the information they were just presented.</p>
          </li>
        </ul>
      </article>
    </section>
  </div>
</div>