<div class="row">
    <div class="large-12 columns">
        <section class="overview-section">
            <article>
                <div class="responsive-embed widescreen">
                    <iframe width="100%" height="686" src="https://www.youtube.com/embed/2xPO1qzom04" frameborder="0" allowfullscreen></iframe>
                </div>
            </article>
            <article>
                <div class="responsive-embed widescreen">
                    <iframe width="100%" height="686" src="https://www.youtube.com/embed/dlGH9caK94I" frameborder="0" allowfullscreen></iframe>
                </div>
            </article>
        </section>
    </div>
</div>